[2018-03-11 11:20] dexX7 commented on #566
Hi there, you can backup your wallet.dat file in the Bitcoin datadir.

Which OS do you use?

[2018-03-11 14:55] 97zgxgw commented on #566
Ubuntu.
Bitcoin core has special command for safe backup. How do that in Omnicore ?

[2018-03-11 15:06] dexX7 commented on #566
Omni Core is basically Bitcoin Core with extensions. You can backup Omni Core similar to Bitcoin Core.

[2018-03-12 08:23] terryzhouyl commented on #519
me too. I has spent 4 days synchronizing. the block num is still around 770000 , the synchronzing speed is around 1kb. now, i can do nothing but wait the block synchronzing.

[2018-03-12 10:43] dexX7 commented on #529
@vanhung17101: can you please clarify what you mean by "you can't get the transaction"?

You should be able to retrieve any transaction that was mined or sent with `omni_gettransaction`, however, there is one exception: this doesn't work for sends to `moneyqMan7uh8FqdCA2BV5yZ8qVrc9ikLP`.

[2018-03-12 10:45] dexX7 commented on #519
Hey guys,

unfortunately there is nothing we can do. My guess is that this is because there is another testnet for SW and the old one isn't really used anymore.

If you want to do tests, I'd recommend to use regtestnet by running Omni Core with `-regtest=1`. This creates a private network, where you can mine blocks yourself with `generate n` where `n` specifies the number of blocks to mine. This i

[2018-03-12 16:57] belchev opened #569 "USDT withdraw funds missing"
Withdrew USDT from Binance to Liqui
TransactionId from Binance stated: 7c1885d4fe187cca13ef425fb40841c0bbc5dd00fa628d8c3c57e032bea46e55
Still cant see nothing in OmniExplorer.info, but in blockchain.info or btc.com:
https://btc.com/7c1885d4fe187cca13ef425fb40841c0bbc5dd00fa628d8c3c57e032bea46e55
https://blockchain.info/tx/7c1885d4fe187cca13ef425fb40841c0bbc5dd00fa628d8c3c57e032bea46e55
Also I cant

[2018-03-13 08:22] belchev commented on #569
The transaction is showing in omniexlorer now. Thanks

[2018-03-13 08:22] #569 closed

[2018-03-14 14:06] tjnunne5 commented on #530
Got through to Coinbase, they sent me something saying, blah blah can't send transactions like that and if it goes unclaimed it will be back refunded in 30 days. Guess we'll see.

[2018-03-14 16:26] pklcbnq opened #570 "How do I transfer Tether from you to Omni Wallet?"

[2018-03-14 16:28] pklcbnq opened #571 "Withdraw funds to Omni Wallet"
How do I withdraw tether from your site to my Omni Wallet?

[2018-03-14 17:35] pklcbnq opened #572 "USDT Coins sent from Binance to Kraken stuck at Omni"
Transaction made on 2/17/18. Transaction ID https://omniexplorer.info/lookuptx.aspx?txid=49fe0ccbb92f07e35ab493ab4266a0a016e030c3b84826323eef542c0ac82dae.

Can you help?

[2018-03-15 03:17] karokarolee opened #573 "omni_getallbalancesforaddress failed to get balance of my testnet address"
Hi dexX7,
I got a testnet address through omnicore with parameter "-testnet", the address is "mrbyquSZpti7VzFgVwwc4p4trx3sq1geHJ", and get testnet bitcoin from the website "https://testnet.manu.backend.hamburg/faucet", in the GUI of omnicore, my balance is displayed correctly.

but when I use omnicore-cli to call method "omni_getallbalancesforaddress" to get balance of my address "mrbyquSZpti7VzFg

[2018-03-15 03:42] karokarolee commented on #573
Oh, I see, it seems that I need to have some omni layer coin in my address firstly.

[2018-03-15 03:42] #573 closed

[2018-03-15 07:56] dexX7 commented on #573
Correct, the `omni_` balance RPCs only show token balances. :)

[2018-03-15 07:59] dexX7 commented on #572
Hi there,

unfortunately there is nothing we can do as developers, except facilitating the process and pointing in the right direction.

Kraken is an exchange, which supports USDT, but I assume you sent the tokens to your Bitcoin address instead of an USDT wallet? They should be able to help you in this case, so please contact the Kraken support.

[2018-03-15 07:59] dexX7 commented on #571
Please clarify: which site?

[2018-03-15 07:59] dexX7 commented on #570
Duplicate of #571.

[2018-03-15 07:59] #570 closed

[2018-03-15 08:00] dexX7 commented on #530
@tjnunne5: wait, really? Would you mind pasting the message?

[2018-03-16 05:45] kensama7 commented on #529
@dexX7
[code]

If so, How can I change to "test ecosystems".

[2018-03-16 05:46] karokarolee opened #574 "questions about account and address in omni layer"
Hi,
From the GUI of omni core, in menu "Receiving Addresses...", I got three addresses and edited Label names for them.  If I operated in GUI to send bitcoin to the address "moneyqMan7uh8FqdCA2BV5yZ8qVrc9ikLP", some omni coins will be sent to my corresponding address, but if I send bitcoin to "moneyqMan7uh8FqdCA2BV5yZ8qVrc9ikLP" through rpc api, like "sendtoaddress" and "sendfrom", omni coins will

[2018-03-16 10:47] dexX7 commented on #574
The sender of an Omni transaction is determined by the first input of the transaction. If you send bitcoins from address A to moneyqMan7uh8FqdCA2BV5yZ8qVrc9ikLP, then A should get the tokens. It could be that sendtoaddress uses an unrelated address. As a tip, you can turn on coin control and then manually select coins to send in the bitcoin sending tab.

When sending Omni Layer tokens, the address

[2018-03-16 10:48] dexX7 commented on #529
When creating tokens, there is a field for this called "ecosystem":

https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#omni_sendissuancefixed

[2018-03-18 13:12] tjnunne5 commented on #530
Yeah, @dexX7 I said there were a lot of people with these issues and they should try and workout a system to try and fix this quicker and more efficiently

[2018-03-18 16:18] brettazar commented on #530
An expert told me to just label it as a security. And file it as a loss
with your accountant to get some of it back through taxes

On Sun, Mar 18, 2018, 9:12 AM tjnunne5 <notifications@github.com> wrote:

[2018-03-19 06:47] JSAG0705 opened #575 "Major withdrawal mistake"
I accidentally transferred funds from my Binance "Tether" account into my GDAX "Bitcoin" account.

Needless to say the funds are understandably not in my account. What needs to be done on my end or with your assistance to help me either carry over funds to GDAX or reverse transaction?

CoinBase says there is nothing they can do and if I’m correct, Binance will be of little help as well.

I have pr

[2018-03-19 07:35] dexX7 commented on #575
Hi there,

unfortunately I have bad news: there is nothing we can do and unless Coinbase starts to cooperate, your funds are stuck.

The Omni Layer uses Bitcoin as transport layer and to "see" or interact with tokens, an Omni aware wallet must be used. Coinbase or GDAX don't support the Omni Layer.

There are thousands of USD worth stuck, but there is no case known to me, where they helped to retr

[2018-03-19 07:36] dexX7 commented on #530
@tjnunne5: if you have a direct contact and they really consider helping, please feel free to direct them to us.

We can craft and provide them with raw transactions to retrieve the tokens and all they need to do would be to sign them.

[2018-03-19 07:51] brettazar commented on #530
Wait you can retrieve it now??? Please help!! What do I need to do

[2018-03-19 08:02] dexX7 commented on #575
I added a wiki page about this topic. Please let me know, if there is still anything unclear:

- [FAQ: I sent tokens to an incompatible wallet such as Coinbase or GDAX. Can you reverse the transaction?](https://github.com/OmniLayer/omnicore/wiki/I-sent-tokens-to-an-incompatible-wallet-such-as-Coinbase-or-GDAX.-Can-you-reverse-the-transaction%3F)

Please also feel free to reopen this issue, if ther

[2018-03-19 08:02] dexX7 commented on #572
I added a wiki page about this topic. Please let me know, if there is still anything unclear:

- [FAQ: I sent tokens to an incompatible wallet such as Coinbase or GDAX. Can you reverse the transaction?](https://github.com/OmniLayer/omnicore/wiki/I-sent-tokens-to-an-incompatible-wallet-such-as-Coinbase-or-GDAX.-Can-you-reverse-the-transaction%3F)

Please also feel free to reopen this issue, if ther

[2018-03-19 08:02] #572 closed

[2018-03-19 08:02] dexX7 commented on #564
I added a wiki page about this topic. Please let me know, if there is still anything unclear:

- [FAQ: I sent tokens to an incompatible wallet such as Coinbase or GDAX. Can you reverse the transaction?](https://github.com/OmniLayer/omnicore/wiki/I-sent-tokens-to-an-incompatible-wallet-such-as-Coinbase-or-GDAX.-Can-you-reverse-the-transaction%3F)

Please also feel free to reopen this issue, if ther

[2018-03-19 08:02] #564 closed

[2018-03-19 08:02] dexX7 commented on #563
I added a wiki page about this topic. Please let me know, if there is still anything unclear:

- [FAQ: I sent tokens to an incompatible wallet such as Coinbase or GDAX. Can you reverse the transaction?](https://github.com/OmniLayer/omnicore/wiki/I-sent-tokens-to-an-incompatible-wallet-such-as-Coinbase-or-GDAX.-Can-you-reverse-the-transaction%3F)

Please also feel free to reopen this issue, if ther

[2018-03-19 08:02] #563 closed

[2018-03-19 08:02] dexX7 commented on #562
I added a wiki page about this topic. Please let me know, if there is still anything unclear:

- [FAQ: I sent tokens to an incompatible wallet such as Coinbase or GDAX. Can you reverse the transaction?](https://github.com/OmniLayer/omnicore/wiki/I-sent-tokens-to-an-incompatible-wallet-such-as-Coinbase-or-GDAX.-Can-you-reverse-the-transaction%3F)

Please also feel free to reopen this issue, if ther

[2018-03-19 08:02] #562 closed

[2018-03-19 08:02] dexX7 commented on #559
I added a wiki page about this topic. Please let me know, if there is still anything unclear:

- [FAQ: I sent tokens to an incompatible wallet such as Coinbase or GDAX. Can you reverse the transaction?](https://github.com/OmniLayer/omnicore/wiki/I-sent-tokens-to-an-incompatible-wallet-such-as-Coinbase-or-GDAX.-Can-you-reverse-the-transaction%3F)

Please also feel free to reopen this issue, if ther

[2018-03-19 08:02] #559 closed

[2018-03-19 08:02] dexX7 commented on #555
I added a wiki page about this topic. Please let me know, if there is still anything unclear:

- [FAQ: I sent tokens to an incompatible wallet such as Coinbase or GDAX. Can you reverse the transaction?](https://github.com/OmniLayer/omnicore/wiki/I-sent-tokens-to-an-incompatible-wallet-such-as-Coinbase-or-GDAX.-Can-you-reverse-the-transaction%3F)

Please also feel free to reopen this issue, if ther

[2018-03-19 08:02] #555 closed

[2018-03-19 08:03] dexX7 commented on #543
I added a wiki page about this topic. Please let me know, if there is still anything unclear:

- [FAQ: I sent tokens to an incompatible wallet such as Coinbase or GDAX. Can you reverse the transaction?](https://github.com/OmniLayer/omnicore/wiki/I-sent-tokens-to-an-incompatible-wallet-such-as-Coinbase-or-GDAX.-Can-you-reverse-the-transaction%3F)

Please also feel free to reopen this issue, if ther

[2018-03-19 08:03] #543 closed

[2018-03-19 08:03] dexX7 commented on #575
I added a wiki page about this topic. Please let me know, if there is still anything unclear:

- [FAQ: I sent tokens to an incompatible wallet such as Coinbase or GDAX. Can you reverse the transaction?](https://github.com/OmniLayer/omnicore/wiki/I-sent-tokens-to-an-incompatible-wallet-such-as-Coinbase-or-GDAX.-Can-you-reverse-the-transaction%3F)

Please also feel free to reopen this issue, if ther

[2018-03-19 08:03] #575 closed

[2018-03-19 08:03] dexX7 commented on #571
Please feel free to reopen this issue, when you have new information to provide.

[2018-03-19 08:03] #571 closed

[2018-03-19 08:04] dexX7 commented on #574
Please feel free to reopen this issue, if you have new information to provide.

[2018-03-19 08:04] #574 closed

[2018-03-19 08:04] dexX7 commented on #566
Please feel free to reopen this issue, if you have another question.

[2018-03-19 08:04] #566 closed

[2018-03-19 08:05] dexX7 commented on #561
I added a wiki page, which may be relevant to this topic. Please let me know, if there is still anything unclear:

- [FAQ: I sent tokens to an incompatible wallet such as Coinbase or GDAX. Can you reverse the transaction?](https://github.com/OmniLayer/omnicore/wiki/I-sent-tokens-to-an-incompatible-wallet-such-as-Coinbase-or-GDAX.-Can-you-reverse-the-transaction%3F)

Please also feel free to reopen

[2018-03-19 08:05] #561 closed

[2018-03-19 08:05] dexX7 commented on #557
I added a wiki page about this topic. Please let me know, if there is still anything unclear:

- [FAQ: I sent tokens to an incompatible wallet such as Coinbase or GDAX. Can you reverse the transaction?](https://github.com/OmniLayer/omnicore/wiki/I-sent-tokens-to-an-incompatible-wallet-such-as-Coinbase-or-GDAX.-Can-you-reverse-the-transaction%3F)

Please also feel free to reopen this issue, if ther

[2018-03-19 08:05] #557 closed

[2018-03-19 08:06] dexX7 commented on #554
Please feel free to reopen this issue, if there is new input.

[2018-03-19 08:06] #554 closed

[2018-03-19 08:06] dexX7 commented on #560
I added a wiki page about this topic. Please let me know, if there is still anything unclear:

- [FAQ: I sent tokens to an incompatible wallet such as Coinbase or GDAX. Can you reverse the transaction?](https://github.com/OmniLayer/omnicore/wiki/I-sent-tokens-to-an-incompatible-wallet-such-as-Coinbase-or-GDAX.-Can-you-reverse-the-transaction%3F)

Please also feel free to reopen this issue, if ther

[2018-03-19 08:06] #560 closed

[2018-03-19 08:07] dexX7 commented on #556
Please feel free to reopen this issue or create a new one, if you have another question.

[2018-03-19 08:07] #556 closed

[2018-03-19 08:07] dexX7 commented on #553
Please feel free to reopen this issue or create a new one, if you have another question.

[2018-03-19 08:07] #553 closed

[2018-03-19 08:08] dexX7 commented on #551
I added a wiki page, which may be relevant to this topic. Please let me know, if there is still anything unclear:

- [FAQ: I sent tokens to an incompatible wallet such as Coinbase or GDAX. Can you reverse the transaction?](https://github.com/OmniLayer/omnicore/wiki/I-sent-tokens-to-an-incompatible-wallet-such-as-Coinbase-or-GDAX.-Can-you-reverse-the-transaction%3F)

Please also feel free to reopen

[2018-03-19 08:08] #551 closed

[2018-03-19 08:09] dexX7 commented on #550
Hi @kiahmed, were you able to resolve this issue?

If not, you may open an issue upstream: https://github.com/bitcoin/bitcoin/issues

[2018-03-19 08:09] #550 closed

[2018-03-19 08:09] dexX7 commented on #548
Please feel free to reopen this issue or create a new one, if you have another question.

[2018-03-19 08:09] #548 closed

[2018-03-19 08:09] dexX7 commented on #546
I added a wiki page, which may be relevant to this topic. Please let me know, if there is still anything unclear:

- [FAQ: I sent tokens to an incompatible wallet such as Coinbase or GDAX. Can you reverse the transaction?](https://github.com/OmniLayer/omnicore/wiki/I-sent-tokens-to-an-incompatible-wallet-such-as-Coinbase-or-GDAX.-Can-you-reverse-the-transaction%3F)

Please also feel free to reopen

[2018-03-19 08:09] #546 closed

[2018-03-19 08:09] dexX7 commented on #544
Hi @compilenewbe, did you resolve the issue?

[2018-03-19 08:10] dexX7 commented on #539
Please feel free to reopen this issue or create a new one, if you have another question.

[2018-03-19 08:10] #539 closed

[2018-03-19 08:10] dexX7 commented on #537
Please feel free to reopen this issue or create a new one, if you have another question.

[2018-03-19 08:10] #537 closed

[2018-03-19 08:10] dexX7 commented on #532
The project you mentioned is no longer maintained.

Please feel free to reopen this issue or create a new one, if you have another question.

[2018-03-19 08:10] #532 closed

[2018-03-19 08:10] Vasyaaaa commented on #564
All close your question,for the problem solved.
--
Отправлено из Mail.Ru для Android понедельник, 19 марта 2018г., 13:02 +05:00 от dexX7  notifications@github.com :

[2018-03-19 08:11] dexX7 commented on #528
I hope it finally worked out well!

Please feel free to reopen this issue or create a new one, if there is any progress.

[2018-03-19 08:11] #528 closed

[2018-03-19 08:11] Vasyaaaa commented on #564
All close your question,for the problem solved.
--
Отправлено из Mail.Ru для Android понедельник, 19 марта 2018г., 13:02 +05:00 от dexX7  notifications@github.com :

[2018-03-19 08:11] dexX7 commented on #522
Please feel free to reopen this issue or create a new one, if you have another question.

[2018-03-19 08:11] #522 closed

[2018-03-19 08:11] dexX7 commented on #504
Please feel free to reopen this issue or create a new one, if you have new input.

[2018-03-19 08:11] #504 closed

[2018-03-19 08:11] dexX7 commented on #489
Please feel free to reopen this issue or create a new one, if you have another question.

[2018-03-19 08:11] #489 closed

[2018-03-19 08:12] dexX7 commented on #519
Please feel free to reopen this issue or create a new one, if you have another question.

[2018-03-19 08:12] #519 closed

[2018-03-19 08:12] dexX7 commented on #417
Resolved via #567.

[2018-03-19 08:12] #417 closed

[2018-03-19 08:14] dexX7 commented on #413
I think it's better to keep track of the specification or feature proposals in the spec repository:

https://github.com/OmniLayer/spec

Please feel free to open a new issue over there.

[2018-03-19 08:14] #413 closed

[2018-03-19 08:14] dexX7 commented on #381
I think it's better to keep track of the specification or feature proposals in the spec repository:

https://github.com/OmniLayer/spec

Please feel free to open a new issue over there.

[2018-03-19 08:14] #381 closed

[2018-03-19 08:14] dexX7 commented on #380
I think it's better to keep track of the specification or feature proposals in the spec repository:

https://github.com/OmniLayer/spec

Please feel free to open a new issue over there.

[2018-03-19 08:14] #380 closed

[2018-03-19 08:14] dexX7 commented on #379
I think it's better to keep track of the specification or feature proposals in the spec repository:

https://github.com/OmniLayer/spec

Please feel free to open a new issue over there.

[2018-03-19 08:14] #379 closed

[2018-03-19 08:14] dexX7 commented on #378
I think it's better to keep track of the specification or feature proposals in the spec repository:

https://github.com/OmniLayer/spec

Please feel free to open a new issue over there.

[2018-03-19 08:14] #378 closed

[2018-03-19 08:14] dexX7 commented on #374
I think it's better to keep track of the specification or feature proposals in the spec repository:

https://github.com/OmniLayer/spec

Please feel free to open a new issue over there.

[2018-03-19 08:14] #374 closed

[2018-03-19 08:14] dexX7 commented on #366
I think it's better to keep track of the specification or feature proposals in the spec repository:

https://github.com/OmniLayer/spec

Please feel free to open a new issue over there.

[2018-03-19 08:14] #366 closed

[2018-03-19 08:15] dexX7 commented on #347
I think it's better to keep track of the specification or feature proposals in the spec repository:

https://github.com/OmniLayer/spec

Please feel free to open a new issue over there.

[2018-03-19 08:15] #347 closed

[2018-03-19 08:15] dexX7 commented on #346
I think it's better to keep track of the specification or feature proposals in the spec repository:

https://github.com/OmniLayer/spec

Please feel free to open a new issue over there.

[2018-03-19 08:15] #346 closed

[2018-03-19 08:15] dexX7 commented on #80
I think it's better to keep track of the specification or feature proposals in the spec repository:

https://github.com/OmniLayer/spec

Please feel free to open a new issue over there.

[2018-03-19 08:15] #80 closed

[2018-03-19 08:16] dexX7 commented on #299
Unconfirmed transactions should now show up via `omni_gettransaction`.

[2018-03-19 08:16] #299 closed

[2018-03-19 08:17] dexX7 commented on #297
After moving on top of Bitcoin Core 0.13, this may no longer be an issue.

[2018-03-19 08:17] #297 closed

[2018-03-19 08:17] #265 closed

[2018-03-19 08:39] dexX7 commented on #530
@brettazar: it depends.

We can guide the process, *if* the current holder of the tokens is willing to sign raw transactions. This isn't the case with Coinbase or GDAX though, because they are not willing to cooperate.

[2018-03-19 08:41] brettazar commented on #530
Well no one is technically holding it. It here ... take a look.  Where
would you say this is.
https://omniexplorer.info/lookupadd.aspx?address=1Fzvoo6tQcZLWX2GCaHYmgUL4U9paCy9U5

On Mon, Mar 19, 2018, 4:39 AM dexX7 <notifications@github.com> wrote:

[2018-03-19 08:50] dexX7 commented on #530
According to you, 1Fzvoo6tQcZLWX2GCaHYmgUL4U9paCy9U5 belongs to Coinbase?

[2018-03-19 08:52] brettazar commented on #530
Yes. That's where I copy and pasted it from. From the USD wallet on
coinbase

On Mon, Mar 19, 2018, 4:50 AM dexX7 <notifications@github.com> wrote:

[2018-03-19 09:00] dexX7 commented on #530
Right. So it stands: there is nothing we can do, because Coinbase won't sign any raw transactions for us. :(

[2018-03-19 09:01] brettazar commented on #530
So I'll try to recoup part of it by filing it as a loss security on my taxes

On Mon, Mar 19, 2018, 5:00 AM dexX7 <notifications@github.com> wrote:

[2018-03-19 09:02] brettazar commented on #530
Thank you anyway. Grearly appreciated

On Mon, Mar 19, 2018, 5:00 AM dexX7 <notifications@github.com> wrote:

[2018-03-19 10:35] Adbastos commented on #561
On 20 02 2018 I sent a deposit of 98 usd to the huobi brokerage company, only the value is stopped, blocked in ommi, as proof, would you like to know if it is possible to send to Binance?

[2018-03-20 09:59] timka-zhm opened #577 "Bitcoind vs Omnicoind simultaneously"
Hi!
I have the Bitcoin daemon(`version v0.14.0`)  running on my machine(Debian 8). I use the Testnet with the following configuration parameters:
`testnet=1`
`mempoolexpirey=1`
`rpcthreads=2`
`rpcuser=<username>`
`rpcpassword=<userpassword`

Command line:
`/home/cryptodaemon/bin/bitcoind -datadir=/home/cryptodaemon/.bitcoin/ -testnet -printtoconsole`

Now I'm trying to run the Omni daemon(`Omni Co

[2018-03-20 11:39] dexX7 commented on #577
Hi there,

is there anything in the logs in the datadir that may be relevant?

The options `-port`, `-rpcport` and `-datadir` should all be different for each client. Did you test with `-port` and `-rpcport` set for both clients?

[2018-03-20 11:41] dexX7 commented on #561
Hi @Adbastos, please reach out to the Huobi support. They may help!

[2018-03-20 14:05] timka-zhm commented on #577
I print to the console with this flag `-printtoconsole`. The only one log is `Error: Unable to start HTTP server` that I wrote in the text of the issue.
I tested with `-port=19336` but got the same error.
I didn't change `-rpcport` cause I don't know what it could be. In the repository here I have not found any information about alternative ports for the Omnicoin (https://github.com/OmniLayer/omni

[2018-03-20 14:45] dexX7 commented on #577
Please also try to use `-rpcport`. :)

[2018-03-20 15:04] timka-zhm commented on #577
Could you tell me what port should I set for `-rpcport`?

[2018-03-20 17:13] congnghiakhiem commented on #577
You can set port 18332 or 18334. Any ports that are not used by other processes, can be used for rpc server.

[2018-03-20 17:43] timka-zhm commented on #577
Yeah, it works!
Thanks :+1:

[2018-03-20 18:01] dexX7 commented on #577
Awesome! Thank for your help @congnghiakhiem.

[2018-03-20 18:01] #577 closed

[2018-03-20 18:05] congnghiakhiem opened #578 "What is exodus balance ?"
When start omnicored, I can see exodus balance: xxx OMNI.
But I can not find any OMNI in my addresses.
What is exodus balance ? Can I find and send them to another address ?

[2018-03-21 09:59] yuerski commented on #529
Hi @Govind13100  , finally have you found any method to get usdt on testnet ?  i hv same question , haha

[2018-03-21 10:12] dexX7 commented on #529
@yuerski: you can only get Omni on testnet, but you may as well create your own token with the RPC interface:

https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#omni_sendissuancefixed

[2018-03-21 10:16] dexX7 commented on #578
Hi @congnghiakhiem,

actually this is a relict from the past. The ["Exodus address"](https://github.com/OmniLayer/spec#initial-token-distribution-via-the-exodus-address) is linked to the Omni foundation and printing the balance during startup served as indicator, whether the client loaded properly.

At this point it's probably only confusing and I'm going to remove the line. Thanks for pointing it

[2018-03-21 10:20] #578 closed

[2018-03-21 10:28] yuerski commented on #529
@dexX7  THANK YOU  ,let me try , haha  , wait for minutes

[2018-03-21 11:58] yuerski commented on #529
can not . in windows 8 , start up omni core , programe alerts "error loading wallet.dat : Wallet require newer version of omni Core" , although i get lastest version on official site   .  -_-

[2018-03-21 11:59] yuerski commented on #529
and  ,  i m not able to use gradle project ,   faint . prefer to maven ..........

[2018-03-21 13:08] dexX7 commented on #529
@yuerski: hm. You probably used a Bitcoin Core version, which isn't fully compatible.

You could export your private keys and backup your wallet.dat file, then remove it and start Omni Core, and import the keys.

[2018-03-21 13:16] yuerski opened #579 "Is OmniLayer able to run on windows except ubuntu"
as subject  , can run on windows ? i just want a client to operate usdt and generate usdt wallet

[2018-03-21 13:41] Apollo-IT opened #580 "Omnicore Node with BTC node"
I wanna deploy both OMNI and BTC node in a vps.
Can i do like that?
In this case, how's **bitcoin.conf** working?
**Walletnotify** option is working for both OMNIcore and BTC node?

[2018-03-21 14:25] dexX7 commented on #580
Hi there,

you certainly can: you need to use different `-port`, `-rpcport` and `-datadir` settings, if you want to run both at the same time.

Walletnotify works for both.

[2018-03-21 14:26] dexX7 commented on #579
Hi there, Omni Core runs on Linux, OS X and Windows. :)

[2018-03-21 17:10] Apollo-IT commented on #580
thanks

[2018-03-22 06:33] #579 closed

[2018-03-22 06:33] #580 closed

[2018-03-22 07:08] yuerski commented on #579
understand , last night setup on debian according README  , thanks

[2018-03-22 14:32] timka-zhm opened #582 "omni_listtransactions method returns empty array"
Hi!

1. I've installed the Omnicore daemon.
2. Started the testnet. Got synced blockchain.
3. Genereated new addresses using `getnewaddress` method. Got 10 addresses.
4. For one of them (`miYN8oirbN3QAUcpD3MkKuwDyJ78f6DRu5`) asked bitcoin test coins(here https://testnet.coinfaucet.eu/en/). Got coins:
`{
      "account": "",
      "address": "miYN8oirbN3QAUcpD3MkKuwDyJ78f6DRu5",
      "category": "

[2018-03-23 10:26] timka-zhm commented on #580
Here is the answer-link
https://github.com/Omnicoin-Project/Omnicoin/wiki/Specifications-and-Technical-Information

[2018-03-24 15:41] congnghiakhiem commented on #582
curl --data-binary '{"jsonrpc":"1.0","id":"curltext","method":"omni_listtransactions","params":[]}' -H 'content-type:text/plain;' http://xxx:yyy@127.0.0.1:8332
This command works for me. Please try.

[2018-03-26 06:14] dexX7 commented on #580
Hi @timka-zhm, actually the link you posted is about another project and unrelated to Omni Core, which is the reference client of the [Omni Layer](http://www.omnilayer.org/).

[2018-03-26 06:16] dexX7 commented on #582
Hi @timka-zhm,

the generation of Test Omni via this route doesn't show up when using `omni_gettransaction`, but all other transaction types are.

[2018-03-26 06:16] #582 closed

[2018-03-26 07:58] timka-zhm commented on #582
congnghiakhiem, I'm using Testnet. You gave me the example with Mainnet port(8332)

[2018-03-26 08:05] congnghiakhiem commented on #582
I'm sorry. You need change user, pass, ip, port to your own information.

[2018-03-26 09:13] timka-zhm commented on #582
This is my request:
`curl --data-binary '{"jsonrpc":"1.0","id":"curltext","method":"omni_listtransactions","params":[]}' -H 'content-type:text/plain;' http://myrpcusername:rpcuserpassword@127.0.0.1:14873`

This is response:
`{"result":[],"error":null,"id":"curltext"}`

As you can see I got empty result.

dexX7,
"doesn't show up when using `omni_gettransaction`" - using this method and transaction

[2018-03-27 15:16] korimarik opened #583 "RPC method 'omni_listtransactions' skip parameter doesn't work"
Hi there!

After my previous issue, I've realized that 'omni_listtransactions' method works **with OPTIONAL** parameters those described here https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#omni_listtransactions.

Now, running a command
` curl -H 'Content-Type: application/json' --user 'user:passsord' -X POST --data-binary '{"jsonrpc": "2.0", "id":"omni_test", "method

[2018-03-28 11:17] nowa commented on #354
Has this problem been solved?
Or can I distinguish between Omni transactions and non-Omni transactions?

[2018-03-28 11:22] dexX7 commented on #583
Thanks for this submission!

This is indeed not the behavior we want, because it doesn't cut the result and simply returns everything.

[2018-03-28 11:26] dexX7 commented on #354
You could by using [omni_gettransaction](https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#omni_gettransaction), which returns an error, if it's not an Omni transaction.

[2018-03-28 12:51] timka-zhm commented on #583
Thank you for the response!

I see that it's done for 90%, but the date is not defined.
Could you tell me please, when approx are we waiting for the next Release?

[2018-03-28 14:10] dexX7 commented on #583
Currently there is no date set in stone. I'm tagging items on the go, but the list of open issues related to the next release is not complete.

Based on the question it sounds as you could need a solution for this issue rather sooner than later?

[2018-03-28 14:12] timka-zhm commented on #583
Yes, you are right!)

[2018-03-28 19:05] shark2555 opened #584 "How can I generate/see my addresses via JSON-RPC"
I cant find in documentation - how can I see existing addresses or how to generate address
to receive Tether?
How can I do that ?

[2018-04-02 14:38] dexX7 commented on #584
Hi there,

you can generate new addresses with `getnewaddress` and get balances with `omni_getbalance`.

Omni RPCs are documented here:

https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md

However, these are only an extension to the existing Bitcoin Core RPCs.

[2018-04-05 15:50] Ljzn opened #585 "[help] Accidentally sent bitcoin to testnet MoneyMan address"
Hi, when testing omni protocol, I accidentally sent 0.025 mainnet bitcoin to testnet MoneyMan address: moneyqMan7uh8FqdCA2BV5yZ8qVrc9ikLP (same scriptHash but encoded with mainnet prefix).

This is the transaction: https://blockchair.com/bitcoin/transaction/307803249#i=0

Could you help...

[2018-04-06 06:41] dexX7 commented on #585
Hi there,

this is a really interesting case. How did this happen?

Unfortunately no one of the current team has access to the private key associated with moneyqMan7uh8FqdCA2BV5yZ8qVrc9ikLP. I reached out to an old contributor, but I don't have much hope, to be honest.

[2018-04-08 02:44] hhy464591454 opened #586 "Error with selected inputs for the send transaction"
Hello:
USDT: I'm doing omni_send interface transfer when tip: "Error with selected inputs for the send transaction" Error, query related documents said there is not enough BTC for fees paid, I use "testnet" network, how can I do to have enough money in the address of the new generation, to make normal transfer process?
![image](https://user-images.githubusercontent.com/24812669/38462432-cee3e614-3

[2018-04-08 02:59] hhy464591454 commented on #585
You can transfer "testnet"?API: is "omni_send"?"Omni_send "API I have some problems, hope to get your help, thank you

[2018-04-08 06:40] hhy464591454 commented on #586
@dexX7

[2018-04-09 01:39] ShangXoL commented on #586
@dexX7

[2018-04-09 02:03] hhy464591454 commented on #586
@ShangXoL  Did you meet the same problem?

[2018-04-10 06:53] hhy464591454 opened #587 "USDT omni_send wrong"
I'm a newcomer to the USDT.I encountered some problems in the test network and I was looking for help.
1.Using "omni_send" to prompt "the sender has failed to balance" errors, how do you add the USDT currency to the new address on the test network?
2.The above methods can't succeed, then try another solution: https://github.com/omnilayer/omnicore/wiki/use ws-transaction - apito - create - a - simp

[2018-04-10 06:57] hhy464591454 commented on #586
@ShangXoL  Have you solved your problem?

[2018-04-10 16:51] timka-zhm commented on #586
Go to this link https://testnet.manu.backend.hamburg/faucet and paste your address(which ends on
- `...bUtEQ`).
This action will give some BTC to your address

[2018-04-10 20:54] skinderis opened #588 "Not responding to rpc commands"
Hi,
I am trying to run my docker image with **docker-compose up**, but external rpc calls are refused. When I run it with **docker run**, I get results. But when i run **docker-compose up**, I can't get any result from calling rpc method. I try to **curl** with **-vv** flag and it shows:
[code]

My .conf file:
[code]
docker-compose.yml file:
[code]

[2018-04-10 22:24] dchetverikov opened #589 "How to send USDT from transit address to main address?"
Hello.

We are implementing Tether currency (propertyId = 31) on our e-currencies exchange web-site.

The problem is as follows:

In order to link specific user with his USDT transaction we generate new address for every exchange operation and ask user to send his USDT to this new address. Suppose, he is to send us 100 USDT. After transaction is complete we will have 100 USDT and 0.00000546 BTC on

[2018-04-11 01:06] kevingwang opened #590 "omnicored core dumped error"
ubuntu@ip-172-31-42-19:~/work/usdt/omnicore/src$ ./omnicored
./omnicored: /usr/local/openssl/lib/libcrypto.so.1.0.0: no version information available (required by ./omnicored)
omnicored: malloc.c:2394: sysmalloc: Assertion `(old_top == initial_top (av) && old_size == 0) || ((unsigned long) (old_size) >= MINSIZE && prev_inuse (old_top) && ((unsigned long) old_end & (pagesize - 1)) == 0)' failed.
Ab

[2018-04-11 10:00] timka-zhm commented on #587
I cannot find a Property USDT in the properties list [here](https://omniexplorer.info/search/1) and [here](https://omniexplorer.info/search/2). Probably you need to check the name of the property you need.

Here, how I check a balance
`curl -H 'Content-Type: application/json' --user 'user:password' -X POST --data-binary '{"jsonrpc": "2.0", "id":"omni_test", "method": "omni_getbalance", "params": [

[2018-04-11 13:03] XieWeiZM opened #591 "How to create Property Names and IDs on regtest network"
How to create  Property Names and IDs  on  regtest network

[2018-04-12 03:15] XieWeiZM commented on #591
i use omni_sendissuancefixed how to appoint this propertyid

[2018-04-13 05:30] hhy464591454 commented on #586
@timka-zhm  Thank you very much for your reply, yes, the reason for this error is that the BTC is insufficient and can not be paid for the cost, but I still have a question, is the cost of the transaction paid by the sender?

[2018-04-13 05:37] hhy464591454 commented on #591
@XieWeiZM  I have also encountered this problem. If you want to solve it, please let me know. Thank you.

[2018-04-13 05:48] hhy464591454 commented on #589
@dchetverikov  Hey, the old address sent USDT to the new address also needs to pay TBC; if the 100 USDT transaction costs are 0.001BTC, sent from the old address to the new address, where does the transaction cost come from? Do you buy it?

[2018-04-13 05:49] hhy464591454 commented on #589
@dchetverikov  As for the above, I also encountered similar problems, please solve it, thank you, thank you.

[2018-04-13 09:37] dexX7 commented on #588
Hi there,

I fear I'm not familiar enough to help with Docker.

Your bitcoin.conf looks fine though.

[2018-04-13 09:39] dexX7 commented on #590
Hi, are you trying to build Omni Core yourself?

[2018-04-13 09:41] dexX7 commented on #587
Hey @hhy464591454,

you can list available tokens with [omni_listproperties](https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#omni_listproperties). To create a token to test with, you could use [omni_sendissuancefixed](https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#omni_sendissuancefixed).

[2018-04-13 09:42] dexX7 commented on #586
Omni Layer transactions use Bitcoin transactions, which require a fee paid in Bitcoin.

It's not necessary that the fee is paid from the first input, but the transaction must be a valid Bitcoin transaction (which carries a Bitcoin fee).

[2018-04-13 09:47] dexX7 commented on #589
@dchetverikov: there is no handy way to do this, but you can pay the Bitcoin transaction fees from different sources than the one where you send the tokens from.

The first input of the transaction determines the token sender. In your case you'd use the 0.00000546 BTC output for the transaction and then add other inputs for the fees.

For the manual transaction creation, check out the following wi

[2018-04-13 09:54] dexX7 commented on #591
Hey guys,

propertyids are allocated by the protocol when the creation transaction confirms.

You can use `omni_sendissuancefixed` (or one of the others) to create a token, store the txid and then use `omni_gettransaction txid`. The result has a field with `propertyid`.

[2018-04-14 09:14] XieWeiZM commented on #591
@hhy464591454  @dexX7   That is to say I can't specify propertyids ！！！！oh no ~~~~~~

[2018-04-14 10:45] dexX7 commented on #591
Right, you can't: they are assigned in chronological order by the protocol.

May I ask why you need to specify them explicitly?

[2018-04-15 15:05] dexX7 commented on #591
And you're working with hardcoded property ids?

Hmm.. how about creating some junk properties so your Test-USDT gets the identifier 31?

[2018-04-16 15:59] houjingwei commented on #591
@dexX7
您可以使用omni_sendissuancefixed（或其他人之一）创建令牌，存储txid然后使用omni_gettransaction txid。结果有一个领域propertyid。

结果里边没有propertyid呀
我的结果是
{
  "txid": "6ad67f562734bb23392fcf7efdc4e93e0e45c237c180cb4766d8ea8cd9e2dc24",
  "fee": "0.00005500",
  "sendingaddress": "mo4Xz2wSiAb2eTtxg4FUrj7qb6bU3iL22i",
  "ismine": true,
  "version": 0,
  "type_int": 50,
  "type": "Create Property - Fixed",
  "ecosystem": "test",

[2018-04-17 06:29] dexX7 commented on #591
Wait until confirmation, then the property id is shown.

[2018-04-17 06:50] dexX7 commented on #583
Hi @timka-zhm,

I submitted a fix for this via #592. Are you able to test it somehow?

[2018-04-17 09:42] XieWeiZM commented on #591
@dexX7 I can configure propertyid，is  propertyid  2   and propertyid  31  similar？？i can test USDT use Test Omni'propertyid  ??

[2018-04-17 11:09] timka-zhm commented on #583
Hi, @dexX7 !
What will be the version of a release with this fix?
Should I reinstall Omnicore source code?

[2018-04-17 12:30] dexX7 commented on #583
We're not yet going to do a proper release, so you'd need to build Omni Core from source with this patch.

[2018-04-17 12:32] dexX7 commented on #591
Yes, you can.

[2018-04-17 12:43] timka-zhm commented on #583
I've started to build a new application using the current patch. I'll test it during this week.
Thank you, guys!

[2018-04-17 14:08] dexX7 commented on #583
Thanks, please let me know, how it works! :)

[2018-04-18 03:04] XieWeiZM commented on #591
@dexX7  Thanks

[2018-04-18 07:46] timka-zhm commented on #583
Yes, sure :)

[2018-04-20 17:10] fernandoyo commented on #546
Hi, I'm experimenting with omnicore-cli.

First I sent 120 USDT to my local wallet.
Then, from my local I sent 2.1 USDT to another wallet "1KAsHQ2..."

https://omniexplorer.info/tx/21c3354ab4422faca43761826884bb4398871a2c404a2fff71be91c9502d3ba0

It worked without any flaw, the problem happened when I sent 2.1 USDT from this new wallet to Bittrex again. First I did not pay attention and my first m

[2018-04-20 17:59] fernandoyo opened #595 "Created an Invalid Transaction What was my mistake?"
I'm using omnicore-cli.

First I sent 120 USDT (from bittrex) to my local wallet.
Then, from my local I sent 2.1 USDT to another wallet "1KAsHQ2..."
https://omniexplorer.info/tx/21c3354ab4422faca43761826884bb4398871a2c404a2fff71be91c9502d3ba0

It worked without any flaw, the problem happened when I sent 2.1 USDT from this new wallet to Bittrex again.
At first I did not pay attention and my first m

[2018-04-22 22:43] Matuvi95 commented on #539
Buenas macaskill17, tuve exactamente el mismo problema, se llego a solucionar?

[2018-04-23 06:15] dexX7 commented on #546
Hi @fernandoyo,

thanks for asking. So just to clarify:

The "sender" of an Omni Layer transaction is determined based on the first transaction input. The other ones can be from different sources. E.g.:

[code]

The recipient is based on the last output. If the last output then is from the sender, it's skipped once. If the next potential output is also from the sender, the recipient is also the se

[2018-04-23 06:17] dexX7 commented on #595
Hi @fernandoyo,

thanks for asking. So just to clarify:

The "sender" of an Omni Layer transaction is determined based on the first transaction input. The other ones can be from different sources. E.g.:

[code]

The recipient is based on the last output. If the last output then is from the sender, it's skipped once. If the next potential output is also from the sender, the recipient is also the se

[2018-04-23 09:46] skinderis commented on #588
Solved it by providing ip of the omnicored container, which was 172.25.0.1. I have added 24 mask, which means that ip address can be 172.X.X.X, so 172.1.2.3/24 should work too, but it wasn't.

`rpcallowip=172.25.0.1/24`

[2018-04-23 10:51] dexX7 commented on #588
Awesome, I'm happy to hear that!

[2018-04-23 12:15] timka-zhm commented on #584
Hi!
`how can I see existing addresses` - try to use the `listaddressgroupings` - method.

[2018-04-23 12:33] timka-zhm commented on #583
Hi guys!
I've installed Omnicore daemon after fixing the bug. But synchronization after 600K blocks became too slow. Approx 2 blocks per second.
Does somebody have the same speed of the sync?

[2018-04-23 15:55] dexX7 commented on #583
Usually this shouldn't happen. Maybe this was just temporary?

I synced from scratch a few days ago with the current `develop` version..

[2018-04-23 15:55] dexX7 commented on #583
Ah, just to clarify: you are syncing mainnet and not testnet?

[2018-04-23 15:56] timka-zhm commented on #583
No, it is not temporary. The speed is still the same. Sorry, I forgot to say, I'm syncing the testnet

[2018-04-23 15:59] timka-zhm commented on #583
Could you tell me, how can I test my work with OMNI? Do we have another testnet?

[2018-04-23 17:12] fernandoyo commented on #595
Thanks for the awnser! My other question is, since every address receives 0.00000546 btc, should I calculate the total "estimated fee" adding 0.00000546 to the estimated bitcoin blockchain fee?
I'm just setting  the bitcoin estimate fee, where does this 0.00000546 comes from?
thanks!

[2018-04-24 10:30] antechdemo commented on #529
Hi,
The address the omni core wallet generates all btc faucets and other omni protocol faucets says wrong btc address..how come?

[2018-04-24 11:08] dexX7 commented on #529
@antechdemo: can you please post an example?

[2018-04-24 11:09] dexX7 commented on #583
https://bitcoin.org/en/developer-examples#regtest-mode

[2018-04-24 13:26] antechdemo commented on #529
I wasnt able to complete step 2. As I keep saying the address the omni core wallet generates all btc faucets and other omni protocol faucets says wrong btc address..

[2018-04-25 05:36] dexX7 commented on #529
Ah, right, you're running Omni Core on mainnet. You need to start the client with `-testnet` to start in testnet mode.

[2018-04-25 08:11] timka-zhm commented on #583
Sorry, but could I get OMNI coins in my private **regtest** node?
I ran it, generated an address, and sent on it some BTC coins. After confirmation of the transaction, I haven't got the coins. So I cannot send Test BTC to get Test OMNI

[2018-04-25 09:27] dexX7 commented on #583
Similar as on testnet:

- You can create coins yourself, e.g. with [omni_sendissuancefixed](https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#omni_sendissuancefixed).

- You you send some Test BTC to `moneyqMan7uh8FqdCA2BV5yZ8qVrc9ikLP `. After confirming the block, you should see an Test Omni balance. :)

[2018-04-25 09:40] timka-zhm commented on #583
*You you send some Test BTC to moneyqMan7uh8FqdCA2BV5yZ8qVrc9ikLP. After confirming the block, you should see an Test Omni balance. :)*
Can I do this in the `regtest` mode?

[2018-04-25 10:14] dexX7 commented on #583
Can you please restart the client and then see, if there are tokens there?

If this doesn't work, please try the following: generate a new address, send some BTC to that address, and send then some BTC from that address to moneyqMan7uh8FqdCA2BV5yZ8qVrc9ikLP.

[2018-04-25 13:38] antechdemo commented on #529
Hi, thanx for the reply,But i already set the testnet= 1 mode in the bitcoin.conf file.But the issue is occured when we deposit some btc on the address of the omni.The btc coin is not reflected back on that address.
If using walletnotify option,example   walletnotify=/usr/local/sbin/rabbitmqadmin publish routing_key=peatio.deposit.coin payload='{"txid":"%s", "channel_key":"tether"}'

[2018-04-25 16:21] datastorm1337 opened #597 "Can't execute some commands with omnicore-cli"
Hello,

I am trying to execute:
`./omnicore-cli getnewaddress`
but I get:
`error code: -32601
error message:
Method not found`

Same goes for a bunch of commands.

Here's my bitcoin.conf:
`server=1
rpcuser=omnicorerpc
rpcpassword=5hMTZI9iBGFqKxsWfOUF
rpcallowip=127.0.0.1
rpcport=8332
txindex=1
datacarriersize=80
logtimestamps=1
omnidebug=tally
omnidebug=packets`

My bitcoind isnt' running.
I've ra

[2018-04-26 08:58] sjgga opened #598 "omni_listtransactions in testnet return empty"
I have some transactions on my omni wallet(testnet) , omni_listtransactions return infos when the transaction is going. But renturn nothing where transaction has done.
 omnicore-cli -datadir=/data/omni_testnet -rpcport=7832 -port=7833 -testnet omni_listtransactions
[
]

How can i get these transactions in my wallet?
Thanks

[2018-04-26 14:45] huturen opened #599 "How to generate an address?"
Hello,

We want to receive Tether payments from different clients.
So, we need to generate different addresses for our clients to receive payments,
but i don't know how to generate an address.
Is it possible to attach a label to an address so that we can identify an address to do some special business.

Thanks.

[2018-04-27 02:31] huturen commented on #599
use native bitcoin core rpc call:getnewaddress.

[2018-04-27 02:31] #599 closed

[2018-04-27 11:53] datastorm1337 commented on #597
I have set datadir's and config files for bitcoin and omni like in the following link:
[https://github.com/OmniLayer/omnicore/issues/577](url)

I run the bitcoind with:
`./bitcoind -datadir=/home/aleks/.bitcoin/ -testnet -printtoconsole -reindex -port=19777 -rpcport=19778`

Then I tried to run omnicored:
`./omnicored -datadir=/data/omni_testnet -testnet -printtoconsole -port=20777 -rpcport=20778`

[2018-04-28 08:17] huanglingege opened #600 "omni_send"
X address to send money, how to deduct the X1 address in the currency, as a handling fee.

[2018-04-29 02:24] huturen opened #601 "bus error"
I got 'bus error' after syncing 11GB data for blocks.
I use the version omnicore-0.3.0-x86_64-linux-gnu which downloaded from the link below
`https://bintray.com/artifact/download/omni/OmniBinaries/omnicore-0.3.0-x86_64-linux-gnu.tar.gz`
[code]
here below is the log:
[code]

[2018-04-30 06:11] antechdemo commented on #354
hey,when we get the testnet coin on the omni address from the btc faucet .its given response like Not a Master Protocol transaction.
where to get TestOmni from? and whose address is that?How notify back?

[2018-04-30 14:35] skinderis opened #602 "Do I need to download the blockchain if I have already running full bitcoin node?"
Hey guys,

I have fully synced bitcoin blockchain on my server. As I found out the omnicored uses bitcoin blockchain. So the question is do I have to download blockchain again If I already have downloaded full bitcoin blockchain?

Thank you!

[2018-05-03 07:04] SftJun commented on #591
@houjingwei @dexX7
&emsp;&emsp;He gays, i setup omnicore on docker. When get property of usdt id:[`2147484026`] failed.
### This is error
`omni_getproperty 2147484026 # 2147484026: usdt property id on testnet`
[code]
### This is successed.
`omni_listproperties #command `

[code]
### **May i ask how to get right property id? thanks very much!!!**

[2018-05-03 15:32] skinderis commented on #583
@dexX7 I can't find information in documentation. omni_listtransactions return all transactions that are received to wallet? or it returns all transactions that have been sent from and received to wallet?

[2018-05-04 05:29] essemfly opened #603 "Is it possible to make omni transaction with raw transaction?"
Hi, I setup the omnicore and run it for tether.

I want to make a tether trasnfer transaction from address A to address B, but i don't want to import my private keys to omnicore.

With bitcoin core, I make a rawatransaction by
"createrawtransaction" method and sign it with "signrawtransaction" method with putting my private keys.

Is it possible to make a omni transaction (especially tether) like

[2018-05-05 07:22] todobugs opened #604 "omni_send like BTC sendfrom"
I want to send transaction like BTC （sendfrom  account address amount），not omni_send fromaddress toaddress amount.
because if I send from address to address ,I have to choose the address which is satisfied with the codition.
but if use send from account to address 。it's very convenience

anyone can help me

[2018-05-05 10:38] timka-zhm commented on #600
You cannot pay a fee from another address.
https://github.com/OmniLayer/omnicore/wiki/Why-do-I-need-bitcoin-to-create-Omni-transactions%3F

[2018-05-05 10:41] timka-zhm commented on #598
I had the same problem. Try to set up *optional* parameters. It works for me.
https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#omni_listtransactions

`"*" 10 0 0 1296426`
1296426 - max known block

[2018-05-05 10:48] timka-zhm opened #605 "Compatibility with Bitcoin Core"
Hi there!

I created wallet.dat in the Bitcoin Core v.0.15.0. Made some transactions.
After I've tried to put this wallet.dat file into the Omni Core v.0.3.0 but got an error:
`Error: Error loading wallet.dat: Wallet requires a newer version of Omni Core`

According to the official release' info, Omni Core *v.0.3.0* support wallet.dat from Bitcoin Core version *0.13.2*

First, am I doing right?
Se

[2018-05-06 05:25] SftJun commented on #587
@hhy464591454  hi gays, can u tell me how solve this question? thks very much.

[2018-05-06 21:09] skinderis commented on #582
@timka-zhm did you manage to solve this? Cause I have the same issue, omni_listtransactions method returns an empty array for me

[2018-05-07 06:26] congnghiakhiem commented on #603
Please read this wiki https://github.com/OmniLayer/omnicore/wiki/Use-the-raw-transaction-API-to-create-a-Simple-Send-transaction

[2018-05-07 18:01] nomantariq18 opened #606 "Bitcoin Core and OmniCore run at a time"
is there any solution to run OMNI core and BTC core  both wallets at a time? when i install Omni core wallet it overides my bitcoin.conf file which is my BTC wallet file located in  Roaming folder/Bitcoin. or is there any settings which make them differ to each other ?

[2018-05-08 02:42] phuongla commented on #606
You can use option "-datadir" to seperate your enviroment. (https://en.bitcoin.it/wiki/Data_directory)

[2018-05-08 07:58] timka-zhm commented on #605
Thanks, *congnghiakhiem*, I'll try

[2018-05-08 16:33] nomantariq18 commented on #606
thanks issue resolved.

[2018-05-08 16:33] #606 closed

[2018-05-08 17:25] DRMFR commented on #540
Can somebody please help. I sent btc from gdax to my Binance USDT address and is showing completed on my Coinbase account but is no where to be found on Binance and is not showing in history. I logged on to Omni explorer and it shows an available balance but have no idea where it is and why it didn’t get to Binance

[2018-05-09 02:15] zerxon opened #607 "USDT omni_getbalance return 0"
I tried to  call `omni_getbalance` though `rpc-json` like this:
[code]
But it doesn't work, always return the result that shows balance is zero, I'm looking forward to your help, thanks

[2018-05-10 08:18] zerxon commented on #607
After reload the block data, it works now

[2018-05-10 08:18] #607 closed

[2018-05-11 15:08] macrotea opened #608 "selected inputs for the send transaction"
Hello, I also have the same problem.

Omni_send 1h4f8BfWBmZoDDmtLXdPcs3DbkRpbFYjG 1F3kKH4buPodMK49Rm1QcAracQSbsusx4e 310.1

Remind me:

Error with selected inputs for the send transaction (code -206)

But I pass the tx:

The account corresponding to 1h4f8BfWBmZoDDmtLXdPcs3DbkRpbFYjG is:

349e5568-4f18-462e-8581-08fec1974881

The account corresponding to 1F3kKH4buPodMK49Rm1QcAracQSbsusx4e is:

C8b0

[2018-05-11 15:16] macrotea opened #609 "selected inputs for the send transaction"
Hello, I also have the same problem.

Omni_send 1h4f8BfWBmZoDDmtLXdPcs3DbkRpbFYjG 1F3kKH4buPodMK49Rm1QcAracQSbsusx4e 310.1

Remind me:

Error with selected inputs for the send transaction (code -206)

But I pass the tx:

The account corresponding to 1h4f8BfWBmZoDDmtLXdPcs3DbkRpbFYjG is:

349e5568-4f18-462e-8581-08fec1974881

The account corresponding to 1F3kKH4buPodMK49Rm1QcAracQSbsusx4e is:

C8b0

[2018-05-11 15:16] macrotea commented on #609
@msgilligan @germanf @marvgmail @dexX7 @CraigSellars
help

[2018-05-12 08:47] obioma761 commented on #555
hello good day im the person you were chatting with regarding the lost of 216 usdt during exchange obioma76 sorry i was away quite some time i just returned to the site i noticed you closed our conversation, on the march 19  this was my transactions whivh were lost. please sir help me.

Status: Failed
 Date: 15 Feb 2018 20:07
 Recipient’s address: 23mS43GhM8y7XW4dJpYKYA45cmburno8Cg4ure5og2ZXLLEwA8

[2018-05-12 08:48] obioma761 commented on #555
i used free wallet for the transaction an i contacted there support team they said they can do nothing about it please can you help me

[2018-05-12 08:53] obioma761 commented on #555
Status: | Failed
-- | --
Date: | 15 Feb 2018 20:07
Recipient’s address: | 23mS43GhM8y7XW4dJpYKYA45cmburno8Cg4ure5og2ZXLLEwA84uXupKA32X5SrJuDPBgXTsSmQRoAbCzcDvM2d2Pa6GYSi
Amount: | 216 USDT
Fee: | 0.6 USDT
Arrival amount: | 0 BCN
Balance before: | 0.86085069 USDT
Balance after: | 0.86085069 USDT
Hash: | 1729f83a1c52e506991f85cb3a067feb8579c321049f801d3615a0bd25f0538e
Request id: | 48c35334-5f00-3fe

[2018-05-14 07:54] xiachao616345713 opened #610 "Can I download the testnet blockchain from somewhere?sync is too slow"

[2018-05-14 10:51] timka-zhm commented on #609
@macrotea it's weird that you have just `522213` blocks... Has your synchronization been finished?

[2018-05-14 10:52] timka-zhm commented on #609
@macrotea Do you really need *TWO* issues?
https://github.com/OmniLayer/omnicore/issues/608

[2018-05-14 13:39] macrotea commented on #609
Hello, I saw through Omni wallet that I have completed the synchronization. When I execute the getinfo command, the message I see is:
{
"Version": 130200,
"Protocolversion": 70015,
"Walletversion": 130000,
"Balance": 0.00100546,
"Blocks": 522638,
"Timeoffset": 0,
"Connections": 8,
"Proxy": "",
"Difficulty": 4143878474754.188,
"Testnet": false,
"Keypoololdest": 1525618904,
"Keypoolsize": 10001,
"Un

[2018-05-14 13:43] macrotea commented on #609
@timka-zhm
What do you usually use to communicate and chat tools, I want to add your friends, so that it is better to promote communication on this issue, if you help me solve the problem, I would like to pay you 0.5 eth, after all, my boss urged me to solve it as soon as possible!

[2018-05-14 14:49] timka-zhm commented on #609
Once, but in Testnet, I got the same error during `omni_send` method.
I had enough(as I thought) funds in BTC.
After I added more BTC(about 0.5) I got the success.
I think this problem related to the balance. So I suggest you, if you can, increase BTC balance on the sender address. It worked for me

[2018-05-14 14:52] timka-zhm commented on #609
@macrotea , One more

`omni_send 1h4f8BfWBmZoDDmtLXdPcs3DbkRpbFYjG 1F3kKH4buPodMK49Rm1QcAracQSbsusx4e 310.1` - method `omni_send` requires third parameter a property id, in case of OMNI coin you need to set `1`.
`omni_send 1h4f8BfWBmZoDDmtLXdPcs3DbkRpbFYjG 1F3kKH4buPodMK49Rm1QcAracQSbsusx4e 1 310.1` - try this

[2018-05-15 02:52] mv1929 opened #611 "Omnicored hangs when making rpc calls from Python"
I'm running omnicored in daemon mode on Windows Server 2016.  I have a python script that uses the bitcoinrpc python library to make multiple rpc calls.  Specifically, I'm calling "gettransaction_MP" several hundred times to pull omni transaction data.  However, within 200 to 300 calls in a row, omnicored freezes.  I then can't make any calls using omnicore-cli (no response), including stopping om

[2018-05-15 11:02] dexX7 commented on #555
Unfortunately we can't do anything here. Only the one who has the private keys can do something.

Please see this:

https://github.com/OmniLayer/omnicore/wiki/I-sent-tokens-to-an-incompatible-wallet-such-as-Coinbase-or-GDAX.-Can-you-reverse-the-transaction%3F

[2018-05-15 11:03] dexX7 commented on #501
Hi @macrotea, please post a new issue here: https://github.com/OmniLayer/omniwallet/issues

[2018-05-15 11:03] dexX7 commented on #607
Great to hear it worked out!

[2018-05-15 11:05] dexX7 commented on #540
Hey @DRMFR, please reach out to the Binance support. Given that this was just a BTC send, it should be possible for them to account it properly for you.

[2018-05-15 11:06] dexX7 commented on #606
Hi there, the related options are `-rpcport`, `-port` and `-datadir`, because you not only need to ensure they use a different datadir, but also different ports.

[2018-05-15 11:08] dexX7 commented on #582
Hey guys, [omni_listtransactions](https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#omni_listtransactions) only works with wallet transactions, but not external ones. For external ones, you could use [omni_listblocktransactions](https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#omni_listblocktransactions).

[2018-05-15 11:10] dexX7 commented on #354
Hi @antechdemo, check this out:

https://github.com/OmniLayer/omnicore#testnet

On testnet or regtestnet, you can send some BTC to moneyqMan7uh8FqdCA2BV5yZ8qVrc9ikLP and once a block was mined, you get credited Test Omni.

[2018-05-15 11:10] dexX7 commented on #599
Hi @huturen, correct, you can use `getnewaddress` for this.

[2018-05-15 11:11] dexX7 commented on #611
Hi @mv1929,

thanks for reporting this!

Did you run your script while synchronizing or when the client was fully synced?

[2018-05-15 11:13] dexX7 commented on #609
Hi @macrotea, you need some BTC for Omni transactions, see:

https://github.com/OmniLayer/omnicore/wiki/Why-do-I-need-bitcoin-to-create-Omni-transactions%3F

Depending on the transaction you were trying to send, you might not have enough BTC to cover the fees for the transaction.

[2018-05-15 11:15] dexX7 commented on #610
Hi there,

currently there is no external way that I know of, where you might download the testnet chain.

However, for testing you could look into running Omni Core in "-regtest" mode, which allows to generate blocks yourself with the "generate" RPC.

[2018-05-15 11:15] dexX7 commented on #608
Duplicate of #609.

[2018-05-15 11:15] #608 closed

[2018-05-15 11:16] dexX7 commented on #603
It certainly is. :)

Thanks for posting the related link, @congnghiakhiem!

[2018-05-15 11:17] dexX7 commented on #598
Hey @sjgga,

the RPC [omni_listtransactions](https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#omni_listtransactions) only lists wallet transactions, so just to clarify: do you have Omni Layer transactions in your wallet?

If you want to watch out for external ones, check out the [omni_listblocktransactions](https://github.com/OmniLayer/omnicore/blob/master/src/omnicore

[2018-05-15 11:19] dexX7 commented on #600
Hey @huanglingege,

this is tricky: you need some BTC and some BTC needs to come from the sender (the one sending tokens): the *first* transaction input determines the token source, while other inputs are permitted.

You could [manually create raw Omni transactions](https://github.com/OmniLayer/omnicore/wiki/Use-the-raw-transaction-API-to-create-a-Simple-Send-transaction) with additional BTC sourc

[2018-05-15 11:26] timka-zhm commented on #582
@skinderis try to use parameters those are mentioned as *optional*. It works for me
https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#omni_listtransactions

[2018-05-15 11:28] skinderis commented on #602
@dexX7 `getnetworkinfo` rpc returns` 'subversion': '/Satoshi:0.14.99/'`

[2018-05-15 15:47] mv1929 commented on #611
It was fully synced, though still online and updating as new blocks came in.  I was thinking of running the script with the network turned off to see what happens (after I get an external hard drive to make a backup).

Below is the snippet of my omnicore.log from this same time period, if it helps:

2018-05-15 01:19:32 parseTransaction(block=522715, 2018-05-15 01:19:16 idx= 2089); txid: 09c7b7de39

[2018-05-16 06:12] xiachao616345713 commented on #610
thanks

[2018-05-16 06:12] #610 closed

[2018-05-16 07:42] wanglei-sky commented on #589
Can I send a transaction to an address with output from different addresses? @dexX7

[2018-05-16 12:40] huturen commented on #601
thanks, it was fixed after restart.

[2018-05-16 12:40] #601 closed

[2018-05-17 00:42] mv1929 opened #612 "Rescanning specific blocks"
Is it possible to have omnicore rescan specific blocks (my intent is to log the results, as I have a corrupted log file)?

[2018-05-17 03:34] MMiic opened #613 "omni_gettradehistoryforaddress"
Why doesn't this interface return any data?

[2018-05-17 07:27] MMiic opened #614 "unspent"
Please help me.
If i cant get unspent list,How do I construct the input?

[2018-05-17 08:16] #614 closed

[2018-05-18 04:01] #612 closed

[2018-05-18 04:02] mv1929 commented on #611
I found that if I use a firewall to block omnicored from making network calls, the issue goes away.

[2018-05-18 11:39] wupeaking opened #615 "how to inject multiple OP_RETURN outputs in one transaction"
In a bitcoin's transaction, Whether it can contain more than one OP_RETURN, it is beneficial to generate multiple omni transactions in one transaction. I think it can improve transaction efficiency.
@dexX7

[2018-05-21 09:52] ShangXoL opened #616 "Error with selected inputs for the send transaction"
have already been solved，as follows command：

./omnicored -daemon -datadir=/home/coins/usdtdata/ -minrelaytxfee=0.00005 -paytxfee=0.00005

[2018-05-21 10:19] vae520283995 commented on #589
@dchetverikov
Is it solved? I also want to implement this function. Please tell me, thank you

[2018-05-21 10:27] ShangXoL commented on #586
@hhy464591454    Yes, I've solved it. You can refer to it

./omnicored --daemon --datadir=/home/coins/usdtdata/ -minrelaytxfee=0.00005 -paytxfee=0.00005

[2018-05-21 11:16] timka-zhm commented on #586
@ShangXoL , I've tried to start Omnicore daemon with these flags `-minrelaytxfee=0.00005 -paytxfee=0.00005` but with 0 BTC on a sendre address got the same error
`{"result":null,"error":{"code":-206,"message":"Error with selected inputs for the send transaction"},"id":"omni_test"}`

[2018-05-22 02:12] ShangXoL commented on #586
@timka-zhm   There must be enough btc  in the transfer address

[2018-05-22 02:45] vae520283995 commented on #616
I can't do it

[2018-05-22 03:08] zl03jsj opened #617 "does not build omnicore-qt on maos 10.13.2"
./configure output check whether to build omni core gui is 'yes'....

checking for lupdate... /usr/local/Cellar/qt/5.10.1/bin/lupdate
checking whether the linker accepts -framework Foundation -framework ApplicationServices -framework AppKit... yes

**checking whether to build Omni Core GUI... yes (Qt5)**

checking for boostlib >= 1.47.0... yes
checking whether the Boost::System library is availabl

[2018-05-22 05:54] dexX7 commented on #617
Hi there, so far, all looks good. This is just a part of the configuration after running `./configure`, I assume?

Did you follow this guide? https://github.com/OmniLayer/omnicore/blob/master/doc/build-osx.md

If so, I fear I can't help you much, because we're cross-building the binaries for OS X on Linux.

[2018-05-22 05:54] dexX7 commented on #616
Sorry, please clarify?

[2018-05-22 05:55] dexX7 commented on #589
@wanglei-sky:

the first input must come from the source that holds the token, all other inputs can be from different addresses, but you need a tiny bit from the token source.

[2018-05-22 05:57] dexX7 commented on #615
Hi @wupeaking,

you can manually add multiple OP_RETRURN outputs with the raw transaction RPC [omni_createrawtx_opreturn](https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#omni_createrawtx_opreturn) (see a walkthrough with example [here](https://github.com/OmniLayer/omnicore/wiki/Use-the-raw-transaction-API-to-create-a-Simple-Send-transaction)).

But: these transactions

[2018-05-22 05:58] dexX7 commented on #611
That's interesting. So you resolved the issue?

[2018-05-22 05:59] dexX7 commented on #612
No, that's not possible.

However, you can restart the process of scanning Omni Layer transactions with the startup option `-startclean`, e.g.: `./omnicored -startclean`.

[2018-05-22 06:00] dexX7 commented on #614
Do you want to create raw transactions?

If so, here is an example:

https://github.com/OmniLayer/omnicore/wiki/Use-the-raw-transaction-API-to-create-a-Simple-Send-transaction

[2018-05-22 06:00] dexX7 commented on #613
Is your client fully synchronized? What did you enter exactly?

[2018-05-22 06:02] dexX7 commented on #602
@skinderis: that should work. You can point Omni Core to use your old datadir, however, you must have the "txindex" option enabled.

[2018-05-22 08:30] mv1929 opened #618 ""gettransaction_MP" returns large number of false invalid transactions"
I'm finding that as I make gettransaction_MP calls, I've been running into a large number of transactions with "valid: false" with "Invalidreason: Unknown error."  I've spot checked these transactions on Omniexplorer.info, and they all appear as valid.  An example transaction where I run into this issue:

1b3a9d4e4ea7ac4b321e9e826519874a8b2b6bf4c242dea50f9e260987352a8a"

When I receive other reaso

[2018-05-22 11:43] timka-zhm commented on #618
What version do you use?
Method `gettransaction_MP` is depreciated in 0.3.0 version. https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#depreciated-api-calls

[2018-05-22 12:03] timka-zhm opened #619 "Using two wallet files in one daemon"
Guys, I know that my question could be a bit ridiculous, but
**Can I use two** `wallet.dat` **files in one daemon running?**. Sure with different names

[2018-05-22 13:25] cedricfung commented on #370
Hi @dexX7, in your example, does the txin 1 and txin 2 need to be from the same sender address?

e.g. if I have some USDT in address 0, but not enough BTC UTXO in it to pay the miner fee, could I use  another UTXO from address 1 as input?

Then how do the simple send decide sender address? The spec said "Has a single or the largest pay-to-pubkey-hash or pay-to-script-hash (since block height 32200

[2018-05-22 17:06] mv1929 commented on #618
I'm using 0.3.0 (I downloaded and installed from http://www.omnilayer.org/download.html).  I tried the updated call "omni_listtransactions" and got the same response.

[2018-05-23 09:50] ying23 opened #620 "regtest mode how to create Property"
@dexX7  help
in regtest how to get omni and how to send transaction
can you provide examples
thanks

[2018-05-23 10:23] ying23 opened #621 "where to get TestOmni from? and whose address is that? My onmi core desktop wallet generated this address on testnet mtdLJismp9qZAkyFhpMg3DAhE2W5BDE2FH"

[2018-05-23 10:36] #619 closed

[2018-05-23 10:39] timka-zhm commented on #621
Hi!
1. Go here https://testnet.manu.backend.hamburg/faucet and send to your address `mtdLJismp9qZAkyFhpMg3DAhE2W5BDE2FH` some test BTC.
2. According to this link https://github.com/OmniLayer/omnicore#testnet send some BTC funds to `moneyqMan7uh8FqdCA2BV5yZ8qVrc9ikLP` address. After, you'll get 100 test OMNI instead of each 1 test BTC to the sender address.

[2018-05-23 10:41] timka-zhm commented on #618
Please, provide here an example of your request

[2018-05-23 10:42] timka-zhm commented on #620
#621

[2018-05-23 10:47] ying23 commented on #621
ok..thanks. but step 1 tip.
"System or Wallet error, Recaptcha failed or address invalid!"

[2018-05-23 10:49] timka-zhm commented on #621
Sometimes there are some problems with it. Try later

[2018-05-23 10:51] timka-zhm commented on #621
358a044454b55e71bfef8d18910f9d32a1a5a572f6f0fd5a758708c6daae9d58 - this is transaction id. I sent you some coins through it.
P.S. check, do you put your address without a space in the end

[2018-05-23 10:53] timka-zhm commented on #609
@dexX7 , Could you kindly tell me how many BTC do I need to send OMNI successfully?

`{"result":{"balance":"1.50000000","reserved":"0.00000000"},"error":null,"id":"omni_test"}` - `mgdzYzPxWoZX77ookWkKmnDeGdELxkKLAN` OMNI balance

`{"result":[[["mgdzYzPxWoZX77ookWkKmnDeGdELxkKLAN",0.00009546,"3-52"]]],"error":null,"id":"omni_test"}` - BTC balance

Is it not enough `0.00009546` BTC to send `1.5` OMN

[2018-05-23 20:54] martyer1949 commented on #540
Binance can account for it, but coins.ph says that their wallet cannot recognize BTC. When it was sent to coins.ph it was lost in the wilderness of their wallet! What to do??? Marty

    On ‎Tuesday‎, ‎May‎ ‎15‎, ‎2018‎ ‎06‎:‎05‎:‎05‎ ‎AM‎ ‎CDT, dexX7 <notifications@github.com> wrote:

Hey @DRMFR, please reach out to the Binance support. Given that this was just a BTC send, it should be possible f

[2018-05-24 01:32] ying23 commented on #621
@timka-zhm
thank you for you help.
in my omni testnet,i got the return balance by "omni_getbalance", like
`./omnicore-cli omni_getbalance "mtdLJismp9qZAkyFhpMg3DAhE2W5BDE2FH" 1
{
  "balance": "0.00000000",
  "reserved": "0.00000000"
}
`
Is there any mistake?
and do you know how to test omni on testnet mode
can you offer help

[2018-05-24 01:38] ALiIsReal commented on #613
![image](https://user-images.githubusercontent.com/22163736/40459846-316f2d08-5f36-11e8-8d5d-5ebe8999b667.png)
![image](https://user-images.githubusercontent.com/22163736/40459851-39674518-5f36-11e8-8182-3be296975436.png)

[2018-05-24 02:09] hyifeng opened #622 "omnicored is generating blocks much more than bitcoin mainnet"
I am running a USDT node, it supposed to sync the bitcoin block chain to local.

But very strange, after days, I check the block count and find it has blocks much more than mainnet (714286 vs 524091). And the number is keep growing for about 5 blocks per second.

$ omnicore-cli -datadir=/usdt/data -conf=/usdt/omnicore.conf getblockcount

714286

$ bitcoin-cli -datadir=/btc/data -conf=/btc/bitcoin.

[2018-05-24 02:57] hyifeng commented on #622
My mistake, no such issue.

[2018-05-24 02:57] #622 closed

[2018-05-24 05:47] vae520283995 commented on #621
bitcoin.conf     set      testnet=1

[2018-05-24 09:31] ALiIsReal commented on #613
@dexX7 Hi,This method can identify all historical transactions of an address?

[2018-05-24 09:34] energy568c opened #623 "How to get total balance for the whole wallet ?"
bitcoin-cli getbalance [account]
 If [account] is not specified, returns the server's total available balance.
How can I get total available balance with omnicore-cli ?
Thanks a lot.

[2018-05-24 10:48] zhou1124 opened #624 "txindex issue"
Each reboot takes a week to rebuild the index. Start command

./omnicored -port=28333 -rpcport=28332 -txindex -datadir=./data -rpcbind='0.0.0.0'-rpcallowip=124.65.148.70/31 -daemon -rpcuser=root -rpcpassword=123456 -gen=0

[2018-05-24 10:50] zhou1124 commented on #624
When the index is rebuilt, the response time of all commands is very long.

[2018-05-24 10:52] zhou1124 opened #625 "How to configure the startup parameters"
Each reboot takes one week to rebuild the index. How to configure the startup parameters. The log is as follows:

2018-05-24 10:46:48 UpdateTip: new best=0000000000000000005a41f7e32daf3a38f2cd8a6b88b6763505928225c76475 height=505183 version=0x20000000 log2_work=87.919129 tx=294090628 date='2018-01-20 14:26:08'progress=0.972709

2018-05-24 10:46:56 UpdateTip: new best=00000000000000000045f51d246156

[2018-05-24 10:57] zhou1124 opened #626 "no response"
When rebuilding index, RPC is not responding, or very slow. The load of the server is not very high

[2018-05-25 02:01] vae520283995 commented on #626
wait some time is ok

[2018-05-25 02:01] vae520283995 commented on #625
remove -reindex

[2018-05-25 04:42] zhou1124 commented on #626
the log ：
ubuntu@ip-172-31-35-234:/data/usdt/data/bin$ ./omnicore-cli -rpcconnect=127.0.0.1  -rpcuser=root -rpcpassword=123456 -rpcport=28332 getblockcount
511155
ubuntu@ip-172-31-35-234:/data/usdt/data/bin$ ./omnicore-cli -rpcconnect=127.0.0.1  -rpcuser=root -rpcpassword=123456 -rpcport=28332 getblockcount
511222
ubuntu@ip-172-31-35-234:/data/usdt/data/bin$ ./omnicore-cli -rpcconnect=127.0.0.1  -

[2018-05-25 04:45] zhou1124 commented on #626
How to optimize the response for half an hour

[2018-05-25 04:45] zhou1124 commented on #625
I'll try

[2018-05-25 15:34] DaveWK opened #627 "Syncing is very slow in AWS ECS"
I am setting up some omni nodes in aws ecs, and it's taking it a very long time to sync, and routinely times out on connections, causing it to fail health checks.

I have allocated a full m4.xlarge with 14 gigs of ram. I have set the params:
 -dbcache=10000 -omnitxcache=2000000000 -rpcworkqueue=125

and every few hours it will timeout responding to GET on / for the rpc, causing the process to rebo

[2018-05-26 04:19] mv1929 commented on #618
It appears to be working now - I'm not quite sure what I did different.  Would it matter if omnicored was able to access the internet, as long as it is up to date?

[2018-05-26 05:45] nitsx2 commented on #547
Hey dex, I have some queries regarding omnicore and tether.   How can i differentiate the currencies in my omnicore cli ??

[2018-05-26 05:55] nitsx2 opened #628 "How can i differentiate the currencies in my omnicore cli ??"
I have some queries regarding omnicore and tether.
1-  How can i differentiate the currencies in my omnicore cli ??
2- Is there any limit to create addresses in omnicore-cli?
3- I read somewhere that if i send test bitcoins to moneyqMan7uh8FqdCA2BV5yZ8qVrc9ikLP address then it will return me test tethers. If it sends me then i have 2 currencies in my omnicore-cli(bitcoin, tether).Same query again

[2018-05-26 12:27] hrustbb2 commented on #556
error code: -32601
error message:
Method not found

[2018-05-26 12:35] hrustbb2 commented on #597
omnicored is bad product width many problems. I not recommended use it.

[2018-05-26 12:38] hrustbb2 commented on #590
dexX7 this is problem?

[2018-05-28 03:10] zhou1124 opened #629 "Reload the index"
Reload the index every time you restart. This usually takes a week or more. The log is as follows:
2018-05-28 02:58:25 Omni Core version v0.13.2.0-1ff8375
2018-05-28 02:58:25 InitParameterInteraction: parameter interaction: -whitelistforcerelay=1 -> setting -whitelistrelay=1
2018-05-28 02:58:25 Default data directory /home/ubuntu/.bitcoin
2018-05-28 02:58:25 Using data directory /data/usdt/data/bi

[2018-05-29 06:13] dexX7 commented on #540
@martyer1949: unfortunately it's really up to them and whether they can help you. :(

[2018-05-29 06:15] dexX7 commented on #556
Hi @hrustbb2, are you sure you are running Omni Core and not Bitcoin Core?

Can you please post the result of:

[code]

[2018-05-29 06:15] dexX7 commented on #547
Hi @nitsx2, can you please elaborate the question?

[2018-05-29 06:16] dexX7 commented on #370
Hi @cedricfung,

with Class C encoding (OP_RETURN, which is what we use now) the sender is determined by the first transaction input. All other transaction inputs can be arbitrary, so it becomes possible to use other addresses for BTC funding. :)

[2018-05-29 06:17] dexX7 commented on #620
Hi @ying23,

to create tokens, mine some blocks with `generate` and send some BTC to a new address. With that address you could use [omni_sendissuancefixed](https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#omni_sendissuancefixed) to create a token with fixed supply.

[2018-05-29 06:18] dexX7 commented on #609
Hey @timka-zhm, it really depends on your local fee settings. You could start Omni Core with the `-txconfirmtarget=n` setting and use a high n like 25, to use a really low fee.

[2018-05-29 06:20] dexX7 commented on #621
Hi @ying23, the RPC `omni_getbalance` only shows token balances, but not BTC balances.

You can use a "testnet faucet" to get some BTC and then check out these steps to get Test Omni:

https://github.com/OmniLayer/omnicore#testnet

[2018-05-29 06:26] dexX7 commented on #624
Hi @zhou1124, can you please clarify which reindex you are referring to?

Does it show "Scanning for transactions in block ..." or do you refer to an actual block reindex?

Do you know what causes the reindex or is there any error message?

[2018-05-29 06:27] dexX7 commented on #626
During reindex, there is heavy load on the node, which should be gone after the reindex is done.

[2018-05-29 06:28] dexX7 commented on #625
Hey @zhou1124, looks like your node isn't completely synchronized or you are indeed using `-reindex`?

[2018-05-29 06:29] dexX7 commented on #623
Unfortunately you can only query individual addresses or tokens with the following commands:

- [omni_getbalance](https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#omni_getbalance)
- [omni_getallbalancesforid](https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#omni_getallbalancesforid)
- [omni_getallbalancesforaddress](https://github.com/OmniL

[2018-05-29 06:32] dexX7 commented on #627
Hi @DaveWK,

this is an interesting case. Can you please check the result, when you do not specify a custom `-omnitxcache`?

Do you have an overview of used resources right before the reboot? My guess would be that the too high number caused the RAM to fill up.

It's really fine to use the default here. :)

[2018-05-29 06:32] dexX7 commented on #618
@mv1929: if the client is synchronized, there shouldn't be a different result.

[2018-05-29 06:36] dexX7 commented on #628
Hi @nitsx2,

1] You can query balances with the following commands:

- [omni_getbalance](https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#omni_getbalance)
- [omni_getallbalancesforid](https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#omni_getallbalancesforid)
- [omni_getallbalancesforaddress](https://github.com/OmniLayer/omnicore/blob/master

[2018-05-29 06:38] dexX7 commented on #597
Hi @datastorm1337,

I'm wondering: where is `-whitelistforcerelay=1` coming from? Do you have a `bitcoin.conf` in that datadir, which may create conflicting settings?

[2018-05-29 06:39] dexX7 commented on #590
Hi @hrustbb2, please clarify your question.

Are you running into build problems, too?

[2018-05-29 07:26] nitsx2 commented on #628
Thanks i got it. The property id of tether on main net is 31. I just want to perform tether transaction on testnet, can you please assist me that how can i achieve it??

[2018-05-29 07:36] dexX7 commented on #628
There is no "official" Tether token on testnet.

[2018-05-29 07:43] nitsx2 commented on #628
ok i performed omni transaction --
./omnicore-cli  omni_send "munY5LZbDxUCWjQ3zho5AavymEWg3R1Ep8" "  mykJ9Mp68adZB7knteS3T9FWHjaNXAoePo" 1 90
the transaction id - 1976f29fb337303c12f00f5889a1b48eb42f60c9dda0d22b6ebbe9b207f60547

When i do omni_listtransaction it shows be blank array [ ]  but when i do listtransactions it shows me  the transaction list (in BTC ) .

Can u please explain me what is h

[2018-05-29 08:51] lxjxiaojun opened #633 "seems a bug in encoding.cpp"
In the function OmniCore_Encode_ClassB:
`            for (int j = 0; i < 256 ; j++) { // Fix ECDSA coodinate
                vchFakeKey[32] = chRandom;
                pubKey = CPubKey(vchFakeKey);
                if (pubKey.IsFullyValid()) break;
                ++chRandom; // ... but cycle no more than 256 times to find a valid point
            }`
maybe loop forever? I'm not sure~

[2018-05-29 09:56] dexX7 commented on #633
Hi @lxjxiaojun,

thank you a lot for spotting this! The `i` should indeed be a `j`!

Fortunately in practice this isn't an issue, because a valid ECDSA point is usually around the corner, but as second safe guard we have included this check.

[2018-05-29 13:06] hyifeng commented on #622
Hi @dexX7, it is not a real problem, please forget about it.

Extra blocks were come from testnet. Someone changed the omnicore.conf to run against the testnet, but haven't told me.

[2018-05-30 15:48] DaveWK commented on #627
I initially didn't use any omnitxcache and was hoping that would make it work faster -- it doesn't even come close to maxing out the ram with the omnitxcache and dbcache set.

[2018-05-30 20:48] ScriptProdigy commented on #370
Hey @dexX7 ,

does this also mean that ```omni_createpayload_simplesend``` will use all available inputs to pay out the total of the asset? Or will it only use the first input as funding for assets being sent to the singular receiver of the assets?

[2018-05-31 01:41] ALiIsReal commented on #613
@dexX7 There is still no data to return.

[2018-05-31 06:26] vae520283995 commented on #628
@nitsx2 There are also parameters behind omni_listtransaction. You need to make up the parameters.
forexample:
 ./omnicore-cli omni_listtransactions "n1Cn8nKyqaLoYcN2CFUR7ApSSYxo1ZnWxX" 100 0 0 99999999

[2018-05-31 06:55] dexX7 commented on #370
@ScriptProdigy: only the specified amount of tokens is taken from the first input.

[2018-05-31 07:12] nitsx2 commented on #628
Thanks for reply @vae520283995 but really i really don't understand what are these parameters after address (100 0 0 99999999) ?

[2018-05-31 07:20] dexX7 commented on #628
Hi @nitsx2, check out the documentation for these parameters here:

https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#omni_listtransactions

[2018-06-01 02:47] xiaolongdeya opened #635 "Is the omni coin a USDT coin? It has several COINS？"

[2018-06-01 04:28] #628 closed

[2018-06-01 05:59] TAiS46 commented on #598
same for me, parameter doesn't help

[2018-06-01 07:34] ALiIsReal commented on #613
@dexX7
![qq 20180601153311](https://user-images.githubusercontent.com/22163736/40827787-3f5a3a08-65b1-11e8-992b-c9bb888e1772.png)

[2018-06-02 07:25] liyongfu8888 opened #636 "Omni core supports more propertyid"
The omni core supports a lot of coins. Why does the propertyid only have 1 and 2 after startup? What configuration is needed to support other currencies? Or what parameters are added  at startup?
![bitcoinconf](https://user-images.githubusercontent.com/22560940/40871997-f2fb2cee-6678-11e8-84c7-b147e3289a41.png)
![propertyid](https://user-images.githubusercontent.com/22560940/40871998-f3384de0-6678

[2018-06-02 07:47] liyongfu8888 commented on #636
This question is very urgent, please answer

[2018-06-04 07:16] ALiIsReal opened #638 "sendrawtransaction"
![image](https://user-images.githubusercontent.com/22163736/40903294-81607f20-6809-11e8-9a03-93b79ca46623.png)
When I used this method sendrawtransaction, I made the mistake. What is the reason for this?

[2018-06-05 01:16] xiaolongdeya commented on #636
I have a lot of propertyid and I don't have any configuration

[2018-06-05 02:12] ying23 commented on #621
Hi @timka-zhm ,can you give me some tbtc to mhvDB8a3mEiVvnNBJ2UGoYrvxD1RU4MZB5
thinks

[2018-06-05 05:10] Amin1214 opened #639 "Binance to coinbase"
I lost my money pls some help me ..I requested you my fund not receive
https://omniexplorer.info/tx/1e3346ef5f0e77f71c59b55c89e04bf201a824d6c2f831b4e0d5fdc54c642ae7

[2018-06-05 07:54] timka-zhm commented on #621
https://live.blockcypher.com/btc-testnet/tx/aac3b2e5543ad35b197c4d397078168919f75992baacacf5fc283c6c97928045/ - here is the transaction

You can send for yourself using this https://testnet.manu.backend.hamburg/faucet service

[2018-06-05 14:59] Amin1214 commented on #538
same my problem pls help me

[2018-06-05 15:19] martyer1949 commented on #538
I believe a law suit is the only way. We should sue coins.ph together. In America it is called a class action law suit.
--------------------------------------------
On Tue, 6/5/18, Amin1214 <notifications@github.com> wrote:

 Subject: Re: [OmniLayer/omnicore] I offer pay to help me or tell me how to recover my USDT (#538)
 To: "OmniLayer/omnicore" <omnicore@noreply.github.com>
 Cc: "martyer1949" <

[2018-06-06 08:09] xiaolongdeya opened #640 "omnicoin"
Can omni test currency be found on the website?

[2018-06-06 13:21] WuWeiWW commented on #621
HI hi can't get test coin
I send `testnet3` btc to  `moneyqMan7uh8FqdCA2BV5yZ8qVrc9ikLP`
[93f4dbffa4e914e5810c2693d66a1ee85dd99404fffc897e780e29cf4d5568f9](https://live.blockcypher.com/btc-testnet/tx/93f4dbffa4e914e5810c2693d66a1ee85dd99404fffc897e780e29cf4d5568f9/)

But I didn't get it `TestOmni`，Please help me Please /(ㄒoㄒ)/~~
![Alt text](https://github.com/WuWeiWW/libphonenumber/raw/master/reso

[2018-06-06 14:22] timka-zhm commented on #621
Try to use https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#omni_getallbalancesforid this method. And you'll see addresses, where you got test OMNI

[2018-06-07 00:57] #638 closed

[2018-06-07 09:31] skinderis commented on #598
I think this is the problem with testnet, because `omni_listtransactions` on testnet returned me nothing whilst `listtransactions` was showing some info. I tried this on mainnet and `omni_listtransactions` worked fine.

So, I guess it's the bug on testnet ;)

[2018-06-07 11:29] WuWeiWW commented on #598
I test the results of the testnet
If `omni_listtransactions` is executed immediately after transfer, it will get a history record, but after a while (10 minutes), the record will be empty again.

[2018-06-08 00:58] burnside commented on #609
@dexX7 - I've been working with omnicore on testnet today and ran into the "Error with selected inputs for the send transaction" issue as well.  My initial test flow was:

- install software, start it up on testnet, wait for it to sync up
- generate an address (Address1) and send 0.01 testnet coins to it from a faucet
- send 0.0001 testnet coins from Address1 to address "moneyqMan7uh8FqdCA2BV5yZ8q

[2018-06-08 14:53] Dhandee opened #641 "Problem regarding Omni Explorer Blockchain"
Hello Omni,

I transfer my usdt from my binance account to send it to my coins.ph wallet, but until now the status keep on confirming. Please solved this issue or return it back to my binance account.

Amount | 249.60927651
-- | --
Property | TetherUS (#31)
Sender | 1FoWyxwPXuj4C6abqwhjDWdz6D4PZgYRjA
Recipient | 37kHgDKawcBR7EcuwMspFbRHL9UMXLXgsU
Date/Time | 6/8/2018 6:02:35 AM
In Block | 526506
S

[2018-06-08 15:47] Amin1214 commented on #641
How to transfer I don’t pls telll him I work for you pls tell whole method
explain my lost money Binance to coinbase $3500 lost money pls and i
working you also..

On Fri, Jun 8, 2018 at 10:53 AM Dhandee <notifications@github.com> wrote:

--
null

[2018-06-09 19:51] burnside commented on #598
I am getting the same results as WuWeiWW.  Using testnet initially omni_listtransactions worked fine, now I get an empty response.  Anyone know why?  And are we certain this is a testnet-specific issue?

Without knowing for sure this only happens on testnet I think I am going to try using the base bitcoin listtransactions, (which I have confirmed still works) then pass each txid to omni_gettransac

[2018-06-09 19:58] burnside commented on #613
I am getting this as well.  Omnicore 0.3.0.  Maybe related to issue https://github.com/OmniLayer/omnicore/issues/598 ?

`$ ./omnicore-0.3.0/bin/omnicore-cli -conf=testnet3/bitcoin.conf omni_gettransaction 42fb2e052763ad242277e414ec95d28f1957c07eaacedebb4b4cbdd1dfe53651
{
  "txid": "42fb2e052763ad242277e414ec95d28f1957c07eaacedebb4b4cbdd1dfe53651",
  "fee": "0.00000264",
  "sendingaddress": "mpmBu7

[2018-06-11 08:10] xianaofei opened #643 "USDT wallet private chain and main chain building"
How to build a private chain, for example, to build a BTC Wallet
WGet https://bitcoin.org/bin/bitcoin-core-0.15.1/bitcoin-0.15.1-x86_64-linux-gnu.tar.gz
Echo "export PATH=\${PATH}: /usr/local/bitcoin/bin/"
Bitcoin.conf
Seek help
How to build the private chain and main chain of USDT Purse
Thank you

[2018-06-12 05:32] dexX7 commented on #628
@nitsx2: does this help?

https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#omni_getbalance

[2018-06-12 05:33] dexX7 commented on #538
Hi guys, please see:

https://github.com/OmniLayer/omnicore/wiki/I-sent-tokens-to-an-incompatible-wallet-such-as-Coinbase-or-GDAX.-Can-you-reverse-the-transaction%3F

[2018-06-12 05:34] dexX7 commented on #638
Hi @ALiIsReal,

could it be you used very, very low output values or a too tiny transaction fee?

[2018-06-12 05:35] dexX7 commented on #635
Hi @xiaolongdeya,

the Omni Layer is a platform to create and manage digital tokens. USDT and Omni are tokens on the platform. They are different ones.

[2018-06-12 05:35] #635 closed

[2018-06-12 05:35] dexX7 commented on #636
Hi @liyongfu8888,

looks like your client isn't fully synchronized yet?

[2018-06-12 05:36] dexX7 commented on #639
Hi @Amin1214, please see:

https://github.com/OmniLayer/omnicore/wiki/I-sent-tokens-to-an-incompatible-wallet-such-as-Coinbase-or-GDAX.-Can-you-reverse-the-transaction%3F

[2018-06-12 05:36] #639 closed

[2018-06-12 05:37] dexX7 commented on #595
@Amin1214: you sent tokens to an incompatible recipient, which I addressed in a different thread.

[2018-06-12 05:37] #595 closed

[2018-06-12 05:37] dexX7 commented on #640
Hi @xiaolongdeya, please see:

https://github.com/OmniLayer/omnicore#testnet

[2018-06-12 05:38] #640 closed

[2018-06-12 05:39] dexX7 commented on #621
Thanks @timka-zhm!

[2018-06-12 05:39] #621 closed

[2018-06-12 05:41] dexX7 commented on #609
Hi @burnside,

this is indeed correct. The token sender is determined based on the first transaction input. Here are some examples: https://github.com/OmniLayer/omnicore/issues/595#issuecomment-383466222

Something like #388 is an often requested feature and we are looking to integrate a simple version of it for the next release.

[2018-06-12 05:42] dexX7 commented on #641
Hi there, please see:

https://github.com/OmniLayer/omnicore/wiki/I-sent-tokens-to-an-incompatible-wallet-such-as-Coinbase-or-GDAX.-Can-you-reverse-the-transaction%3F

[2018-06-12 05:42] #641 closed

[2018-06-12 05:45] dexX7 commented on #643
Hi @xianaofei, can you please rephrase your question?

[2018-06-12 05:47] dexX7 commented on #598
Hey guys,

can you please test the following:

[code]

[2018-06-12 05:51] dexX7 commented on #613
Looks like there are a few options involved:

@ALiIsReal:
It looks like 1K6JtSvrHtyFmxdtGZyZEF7ydytTGqasNc doesn't have any trades, so there won't be any, when trying to query omni_gettradehistoryforaddress for that address. Was retrieving trades your intention or simply listing all associated transactions?

@burnside:
Is mpmBu7kp6zE9n5jYSikBjDZaddPfpVbNTS or mr9MYu6VdzGpoK4K7bGWX78bJ5Jr9BETWC a w

[2018-06-12 06:07] ALiIsReal commented on #613
@dexX7 Another address is the same. There must be a deal at this address. I want to find out all the transaction information according to an address. This method never returns.

[2018-06-12 10:01] nitsx2 commented on #628
Thank you very much for help @dexX7 but i have one thing in my mind that how can i setup a already downloaded Bitcoin block chain with omnicore? Can you please assist me?

[2018-06-13 06:40] ZhengFrey opened #645 "omnicored节点同步问题"
您好老师：
      我这边想向您请假一下下面几个问题，由于英语不是很好，就直接用中文了
1、btc节点所有数据同步完毕后，在bitcoin.conf中加了参数txindex=1,同时启动omnicored，发现omnicored节点同步非常慢，并且过一段时间后，感觉会停止同步，通过cli获取区块高度不再增加，需要重启omnicored节点，扫描制定范围区块后，才会重新增加区块高度。这样感觉同步完所有数据太浪费时间了
2、omnicore-cli在github中的接口说明不完全，通过help指令所列出的接口有些在文档中找不到，不知道是不是我找错了，还是本来文档中就没有记录
      希望老师能给我解疑一下，谢谢

[2018-06-13 06:41] ZhengFrey commented on #645
20180603 add

[2018-06-13 08:01] KuoRave commented on #645
@ZhengFrey 我也是一样的问题，你有没有遇到请求rpc服务器时请求不上或者请求超时这样的问题？我不知道是不是同步区块造成的，有点崩溃

[2018-06-13 08:14] DonaldChiang opened #646 "Use the same datadir for Bitcoin core and Omnicore"
Hello

my Omnicore was running on a different datadir with bitcoin core, ~/.bitcoin and ./tether.

Omnicore sync block became very slow after reaching block height 350000, about 1 block per second...So can I just copy the blocks folder from .bitcoin to .tether to skip Omnicore block sync? Or Can I use the same datadir for both bitcoin core and Omnicore?

Please help thanks!

My hardware:
Google cl

[2018-06-13 08:16] ZhengFrey commented on #645
@KuoRave 你这个时调用rpc接口引发的问题还是omnicored节点在同步时发生的，我这边omnicored节点同步差不多时10000/h的样子，

[2018-06-13 08:34] KuoRave commented on #645
@ZhengFrey 我区块还没同步完。调用rpc接口偶尔能成功，大多数情况下是请求不上rpc服务器，这个我要等区块同步完再看看，omnilayer有点坑。关于help列出来的命令，omnilayer是基于btc的，带有omni_前缀的命令看文档就行了，其他的命令参考https://bitcoin.org/en/developer-reference#bitcoin-core-apis。

[2018-06-13 09:00] ZhengFrey commented on #645
@KuoRave 嗯，谢谢，是我进入误区了。官方说还是测试中，不知道这个是否靠谱

[2018-06-13 09:56] phanalpha commented on #598
For the testnet, `headers` is greater than 1000000 (`getblockchaininfo`) currently. The default `endblock` paramter of `omni_listtransactions` is 999999, which is lesser. Try to use a greater `endblock` (e.g. 9999999) should help.

[2018-06-13 10:11] phanalpha commented on #598
For testnet, the `headers` (with `getblockchaininfo`) is greater than 1000000; for mainnet, the `headers` is > 500000. The default `endblock` paramter of `omni_listtransactions` is 999999, which is lesser than `headers` of testnet, but greater than the mainnet. Try to set a greater `endblock` parameter (e.g. 9999999), it works for me.

[2018-06-13 10:16] mahendratyagi opened #647 "Need"
Hi Team,
Could anyone please share omnilayer opreturn transaction format so that I can prepare the same format from bitcoin to send transaction.
Also is there any way to create same format already in bitcore or bitcoin js lib so that I can have an idea to create the same.
Thanks

[2018-06-13 16:22] burnside commented on #598
@dexX7 - you bet:

[code]

[2018-06-13 17:11] burnside commented on #609
@dexX7 thank you, appreciate the reply.

You've probably already thought of all of this, but here are some potential implementation thoughts, coming from an exchange operations perspective:

Given that the first input is how Omni must determine the sender, and given that it's a PITA to manually maintain a few satoshis in each account with a balance, you could batch transactions under the hood when

[2018-06-13 17:19] burnside commented on #613
@dexX7 - Yes, both addresses are wallet addresses in my testnet wallet.  I think the issue may be the block height being over 999,999.  I think we determined in #598 that omni_listtransactions has a built in endheight of 999,999 and testnet is over 1,000,000.  Maybe omni_gettradehistoryforaddress has a similar issue?

Even if it's only a problem on testnet now, it will eventually crop up on mainne

[2018-06-14 02:20] KuoRave commented on #645
@ZhengFrey 同步完数据就不会出现我的问题了。昨天在#626 这里找到原因。同步的速度到后面越来越慢，几乎是10000/m个小时，泪崩。。同步的时候非常吃cpu和内存

[2018-06-14 06:48] RedSue opened #648 "make error undefined reference to `boost"
[root@iZ2zehcabz5v3efhb2wg6lZ omnicore]# make
Making all in src
make[1]: Entering directory `/home/blockchain/omnicore/src'
make[2]: Entering directory `/home/blockchain/omnicore/src'
make[3]: Entering directory `/home/blockchain/omnicore/src/secp256k1'
make[3]: Leaving directory `/home/blockchain/omnicore/src/secp256k1'
  CXXLD    omnicored
libbitcoin_server.a(libbitcoin_server_a-init.o): In func

[2018-06-14 10:35] songjim commented on #645
各位大佬  我要是用omni_createpayload_simplesend这个方法 发送usdt交易  propertyid这个值怎么哪里可以找到啊

[2018-06-14 12:01] xianaofei commented on #643
wget https://bintray.com/artifact/download/omni/OmniBinaries/omnicore-0.3.0-x86_64-linux-gnu.tar.gz
Find the download address of the wallet
The problem has been solved

Thank you

[2018-06-14 12:01] #643 closed

[2018-06-14 12:34] KuoRave commented on #645
@songjim https://omniexplorer.info/。搜索栏下面

[2018-06-14 14:52] dexX7 commented on #628
@nitsx2: which version of Bitcoin were you running?

[2018-06-14 14:54] dexX7 commented on #646
Hi @DonaldChiang, while it's possible to run either one of Bitcoin Core or Omni Core at the same time, with the same datadir, it's not possible to run both side by side with the same datadir.

[2018-06-14 14:58] dexX7 commented on #647
Hi @mahendratyagi,

there are a bunch of RPCs to generate the payloads, e.g. "omni_createpayload_simplesend". The payload is then prefixed with 0x6f6d6e69 ("omni").

A regular Omni Layer transaction looks like this:
[code]

[2018-06-14 15:14] dexX7 commented on #598
Thanks a lot @phanalpha, this makes a lot of sense! I pushed a pull request to bump the default.

[2018-06-14 15:14] #598 closed

[2018-06-14 15:20] dexX7 commented on #613
@burnside: I'm glad this was noticed, because this was reported multiple times already. I bumped the default. :)

[2018-06-14 15:21] dexX7 commented on #648
Hi there,

this might be related to a wrong Boost version.

Did you follow the build instructions as outlined here?

https://github.com/OmniLayer/omnicore/blob/master/doc/build-unix.md

[2018-06-14 15:22] dexX7 commented on #621
Hi @songjim, no! Test Omni and USDT are two completely different tokens, but both use the Omni Layer as platform.

[2018-06-14 16:50] DonaldChiang commented on #646
OK, I understand, thanks!

[2018-06-14 16:50] #646 closed

[2018-06-15 06:29] mahendratyagi commented on #647
Hi @dexX7 Thanks for you reply, So what should be in payload so that before that I am add the prefix?

[2018-06-15 09:49] songjim commented on #609
HI，guys，
when i run omni_sendissuancecrowdsale "mmDnDrLnzvezEhSumN5zXEiM1Gxx8gagbB" 2 1 0 "song22" "songjian22" "SJ22" "" "" 2 "100" 1529055817 30 2 on regtest  then i get Error with selected inputs for the send transaction (code -206) . can anyone help me?
this address 'mmDnDrLnzvezEhSumN5zXEiM1Gxx8gagbB' has 20 balance

[2018-06-15 10:01] songjim commented on #645
@KuoRave  感谢

大佬们 我在regtest 环境使用 omni_sendissuancecrowdsale "mmDnDrLnzvezEhSumN5zXEiM1Gxx8gagbB" 2 1 0 "song22" "songjian22" "SJ22" "" "" 2 "100" 1529055817 30 2  一直报错Error with selected inputs for the send transaction (code -206） 有大佬指点下吗

[2018-06-15 17:17] patrickdugan commented on #611
We're suffering from a similar bug. I think this error trace stack is just what you generally get when there are consensus header disagreements on the last block of the reindex, which can occur for any number of reasons, and that after the reindex is complete general syncing isn't so compromised. There's definitely a fixable bug in here, the firewall may have prevented new block headers from hitti

[2018-06-15 18:15] patrickdugan commented on #615
Dexx has a Send to Many tx in the roadmap, we're all looking forward to being able to use that.

The design there, is to insert payload referring to more outputs in the same OP_Return.

[2018-06-16 11:46] dexX7 commented on #615
This is correct. There are a few ideas to add this to Omni Layer.

One idea is documented here: https://gist.github.com/dexX7/ba45d52d8edd084357253d93360e1519

[2018-06-16 11:46] dexX7 commented on #611
@patrickdugan: have you found any fix or workaround yet?

[2018-06-16 11:47] dexX7 commented on #645
@songjim:

https://github.com/OmniLayer/omnicore/wiki/Why-do-I-need-bitcoin-to-create-Omni-transactions%3F

[2018-06-16 11:47] dexX7 commented on #609
@songjim: you need some BTC to send the transaction.

[2018-06-16 11:48] dexX7 commented on #647
Try the RPCs omni_createpayload_*, e.g. omni_createpayload_simplesend to generate the payload.

There is also a test tool available to create payloads by hand:

http://builder.bitwatch.co/

[2018-06-18 03:47] khaitranvan96kt opened #652 "Deploy OmniLayer"
How to deploy OmniLayer? I want to provide services to thousands of users.

[2018-06-18 09:36] dexX7 commented on #652
Hi there, can you please be more specific? There are build instructions here:

https://github.com/OmniLayer/omnicore/blob/master/doc/build-unix.md

[2018-06-18 11:23] xdemocle opened #653 "Accidentally sent USDT to wrong address not used by anyone yet, how rescue it?"
Hello, I did a newbie mistake I never did before.
Made a withdrawal toward an USDT address but with last 2 letters missing, so now I sent funds to an incomplete tether address.
What is gonna happens now? Since the 2 final letters of the address are missing and address in theory is not valid, shall the transaction get rejected?

Eventually how can I create a tether address like the wrong one since

[2018-06-18 12:57] dexX7 commented on #653
Hi there, where did you make the withdrawal?

A transaction with an incomplete recipient isn't valid, so you should be good.

[2018-06-18 13:49] jdloret opened #654 "Graph interface not working (Win10)"
Hi,

I found an issue on Omni core 0.3.0.
The window does not display at all, and even block aero to work properly (super+tab does nothing ONLY when Omni core is launched, and re-works back to normal next second after Omni core is closed)

The only functions of the program still available from the notificatioin icon that work are **options**, **sign message**, and hopefully **debug window**, any o

[2018-06-18 16:37] knoxcard opened #655 "unable to start http server: boost error"
Error: Unable to start HTTP server. See debug log for details.
2018-06-18 16:30:27 Omni Core shutdown completed
omnicored: /usr/include/boost/thread/pthread/condition_variable_fwd.hpp:102: boost::condition_variable::~condition_variable(): Assertion `!ret' failed.
Aborted

[2018-06-18 17:50] khaitranvan96kt commented on #652
Hi. I do not know, OmniLayer's RPC runs single-threaded or multi-threaded. I see the speed of the API is quite slow, so what should I do to make it faster. I do not understand much about OmniLayer's architecture, can you provide me with documentation?

[2018-06-19 10:41] dexX7 commented on #653
Ahh, don't be sorry! I'm very glad there was no actual loss of funds. :)

[2018-06-19 10:41] #653 closed

[2018-06-19 10:42] dexX7 commented on #654
Hi @jdloret,

the UI can become very unresponsive, when the client still synchronizes historical blocks.

Is this the case?

[2018-06-19 10:43] dexX7 commented on #652
Omni Core is essentially Bitcoin Core with extended feature set.

Is your client fully synchronized?

[2018-06-19 14:34] khaitranvan96kt commented on #652
I want to provide services to my clients. And they do not need to save any data.

[2018-06-19 14:44] khaitranvan96kt commented on #652
If I only run omnicore client is enough or not. Please give me some advice.

[2018-06-19 17:00] nomantariq18 opened #656 "syncing problem"
omni core wallet is not syncing. it stuck at 13 weeks. I have tried to download again by deleting all blocks but again it stuck at 13 weeks? any solutions ?

[2018-06-19 17:37] jdloret commented on #654
I run only war machines as PCs : my win 10 on a i7-6700HQ based laptop with 16GB of RAM and 2 SSDs. Normally lanching omni on that takes like 15s/20s maximum.
Otherwise I run everything only on servers so machines running Xeon or Opteron CPUs.
The very few of the interface that is working (option/debug) works as the speed it should on any high end hardware.
The BC seems to be up to date when I tes

[2018-06-19 17:37] #654 closed

[2018-06-20 06:02] dexX7 commented on #654
How?

[2018-06-20 06:02] dexX7 commented on #656
Hi there,

do you try to sync mainnet or testnet?

Testnet may not always be available, because there aren't as many peers.

[2018-06-20 06:03] dexX7 commented on #652
Running Omni Core is enough from the Omni Layer and Bitcoin side, but you'd probably still need a system to handle user accounts, the front end, etc.

[2018-06-20 06:04] dexX7 commented on #655
Hi there,

do you have another client running with similar ports?

[2018-06-20 06:05] knoxcard commented on #655
I run a litecoin, bitcoin cash and dash full node.  Where is the debug log?  I can't seem to find it.
Even with: find / -name "debug.log"

[2018-06-20 06:06] dexX7 commented on #655
If you haven't specified a datadir explicitly, it can be found in `~/.bitcoin/debug.log`.

[2018-06-20 06:07] knoxcard commented on #655
ohhh gotchya! thanks!
wonder why not ,/omnicore/debug.log?

[2018-06-20 06:10] dexX7 commented on #655
Omni Core and Bitcoin Core are to some degree interchangeable and we wanted to make it easy for users who already have Bitcoin Core installed and synchronized, because in this case it's datadir can be used for Omni Core.

[2018-06-20 06:45] qshuai opened #657 "I encounter this problem: 'Year is out of valid range: 1400..10000'"
[code]

Need help!

[2018-06-20 13:07] nomantariq18 commented on #656
I’m sync it using mainnet

On Wed, 20 Jun 2018 at 11:02 AM, dexX7 <notifications@github.com> wrote:

[2018-06-20 13:16] wasimmahmood7341 opened #659 "Downloading blocks stuck"
I am running a full node for USDT but the problem is downloading blocks stuck at 13 weeks behind for last 15-20 days, I am unable to trace the problem
Screenshot is attached, any help will be appreciated
Thanks

![untitled](https://user-images.githubusercontent.com/17764871/41660590-f523c6b6-74b5-11e8-8f43-55e0df441478.png)

[2018-06-20 15:12] khaitranvan96kt commented on #652
thanks you ....

[2018-06-20 15:29] qshuai opened #660 "What's the version of boost suitable for omnicore?"

[2018-06-21 06:35] qshuai commented on #656
@nomantariq18 How to observe the sync state for omniwallet?

I only get the following information.  no end like this !!!
[code]

[2018-06-21 06:37] qshuai commented on #660
I use boost 1.58 in ubuntu 16.04, work fine.

[2018-06-21 06:37] qshuai commented on #657
The hole of boost version!

[2018-06-22 13:39] dexX7 commented on #609
@burnside: I pushed https://github.com/OmniLayer/omnicore/pull/658, which provides two new RPCs for "funded sending". The idea is that, if an exchange wants to move incoming funds, they usually want to sweep all tokens and as well as all BTC, so there is no leftover. The new RPCs select all BTC from the specified sender and take the missing amount, if there is still one, from a specified fee sourc

[2018-06-23 02:53] qshuai opened #661 "Omnicored hangs forever, serval times happen."
Only kill the omnicored process and restart, it will work. The strace、 ltrace and gdb debug information as following:

![2018-06-23 10 47 23](https://user-images.githubusercontent.com/20664531/41805005-8c7d64a8-76d3-11e8-9273-23ae82d9f88c.jpg)
![2018-06-23 10 48 59](https://user-images.githubusercontent.com/20664531/41805006-8d1292b2-76d3-11e8-8728-635a933fc6eb.jpg)
![2018-06-23 10 49 06](https://

[2018-06-25 04:05] EdisonChen1024 opened #662 "how do i know is out of sync or not?"
I use the Linux version.
After I start the
[code]
how do I know is out of sync or not?

[2018-06-25 05:39] #652 closed

[2018-06-26 03:12] EdisonChen1024 opened #663 "how to calc the fees"
*When I call*
[code]
*It returns*
[code]
So, there is the question, how do i know the fees?
Also, how to config the fees by the OmniCore?

[2018-06-26 08:03] enVolt opened #664 "Query related to Building Raw transaction"
I'm following [this](https://github.com/OmniLayer/omnicore/wiki/Use-the-raw-transaction-API-to-create-a-Simple-Send-transaction) tutorial (from Wiki section of this repo)

I've following questions -
1. As mentioned in another wiki article ([here](https://github.com/OmniLayer/omnicore/wiki/Is-it-possible-to-pay-transaction-fees-from-a-different-source%3F)), Source of the transaction is considered a

[2018-06-26 12:00] LockwoodChris opened #665 "Persistent State backup"
Is there a way to backup the persistent state of all omni transactions while omnicored is running?

Omnicore has been freezing extremely frequently for me when making RPC calls to it, when the freeze occurs I can neither send any more RPC requests or interact with the node via omnicore-cli. As a result I have to shut it down forcefully and I lose all the persistent state and need to reparse the en

[2018-06-27 05:27] zeshanvirk opened #666 "Omni core wallet out of sync"
<img width="683" alt="1" src="https://user-images.githubusercontent.com/19382057/41954393-83d7174e-79f4-11e8-88ce-d123e9c7fefc.PNG">

its not syncing at all, while my internet connection working fine, i tried restarting it, and the system too, nothing worked for me.

[2018-06-27 10:39] dexX7 commented on #666
Hi @zeshanvirk, did you successfully synchronize until this point and then it suddenly stopped?

[2018-06-27 10:43] dexX7 commented on #665
Hi @LockwoodChris,

when the client is fully synchronized, the state for the last 50 blocks is persisted, though I also noticed a forceful shutdown can corrupt the state. With the new release (already merged into the develop branch) the state is also saved every 10000 blocks, which allows to restore from an earlier point and to abort the initial scanning.

It's untested, but you could try to backu

[2018-06-27 10:50] dexX7 commented on #664
Hi @enVolt,

1. A needs a fresh UTXO. Either via a new transaction, which funds A explicitly, or as alternative: maybe during the first transaction, there could be some BTC sent back to A to avoid the case in the first place?

2. Balances on the Omni Layer are associated with scripts/addresses and any UTXO will work, as long. The first transaction input is used to determine the token sender.

3. O

[2018-06-27 10:54] dexX7 commented on #663
Hi @EdisonChen1024n1024,

there is currently no handy way to know how much fees are needed.

However, the following configuration options influence the actual fee:

[code]
[code]
And:
[code]
[code]

For more control, check out:

https://github.com/OmniLayer/omnicore/wiki/Use-the-raw-transaction-API-to-create-a-Simple-Send-transaction

[2018-06-27 10:55] dexX7 commented on #662
You can use the "omni_getinfo" RPC and then compare how many blocks are shown vs. a block explorer such as www.blockchain.info.

[2018-06-27 10:55] dexX7 commented on #661
Hi @qshuai,

in which context does the hang happen?

[2018-06-27 10:56] dexX7 commented on #657
I never encountered this problem.

Did you resolve it?

[2018-06-27 10:57] dexX7 commented on #660
For the Gitian builds we use Boost 1.59.

[2018-06-27 12:13] enVolt commented on #664
Thanks @dexX7 .

If this is the case -

There is no way to consolidate simplesend, right? (Though it's clear from the doc, just to confirm) If it's doable it can help me in saving the mining fee.

[2018-06-27 13:09] qshuai commented on #657
@dexX7 I have solved it by adjusting boost library version to v1.58.

[2018-06-27 13:12] qshuai commented on #661
It happens serval times when omniEngine and omnicore that was syncing the old blocks run at the same time.

[2018-06-27 15:58] zeshanvirk commented on #666
@EdisonChen1024.. More than 3 weeks passed in the syncing process at my side.. @ dexX7 yes i sucessfully symchronize until this point and it suddenly stopped, And may be a week passed at that point.

[2018-06-27 15:59] zeshanvirk commented on #666
Can i use the bitcoin core block in omni core data directory? as my bitcoin core successfully synchronised!

[2018-06-27 19:17] c--- commented on #657
Interesting, with debugging turned on, omnicored won't even run. Is this typical? I believe this is the first time I've ever built a bitcoin-like thing with debugging turned on.
[code]

[2018-06-28 06:19] songjim commented on #645
@dexX7  大佬我们用的0.3的omnicore 节点同步都挂了两次了 2周还没同步完  请问有没有什么好的比较快的节点或者有什么特殊配制可以使用的

[2018-06-28 12:22] nikolobok opened #667 "Why did bitcoin core so old and not merged?"
Why did bitcoin core so old and not merged?

[2018-06-28 15:10] dexX7 commented on #664
Consolidate like "send tokens from many different sources in one transaction"? This is currently not supported.

[2018-06-29 06:00] essemfly opened #668 "omnicore rpc omni_listtransactions - no watch only options? + arguments txid filter?"
I imported watch only address to omnicore wallet and
I want to find usdt txs by omni_listtransactions but i cannot find.

Transactions involving Watch only addresses cannot be searched by omni_listtransactions?

then is there any other option to find omni txs for watch only imported addresses?

+ omni_listtransactions argument says that txid could be the first arg for filter transactions
but how t

[2018-06-30 05:04] JeremywangCN opened #669 "SignRawTransaction always return Operation not valid with the current stack size"
Hi there,
I have been stuck by this issue for 3 days. Really appreciate if someone can review my process and tell me where I am wrong. Basically, I am following this tutorial [https://gist.github.com/dexX7/352670c990ebf9ea31d6346a1519eb52](url) to construct, sign and send a raw transaction. I will list each step here:

1. Construct Payload
omnicore-cli "omni_createpayload_simplesend" 2 "0.1"
Resul

[2018-06-30 06:03] nanmu42 commented on #609
The sweeping function would be really helpful, looking forward to it.

[2018-07-01 20:06] sksk666 commented on #595
Hello, guys
Does anyone have any solutions?
I happened recently.....

[2018-07-02 02:11] zhangdaoling opened #670 "what is the type 4 transaction，send all"
I find type 4 transaction in explorer but I cant find this type in https://github.com/OmniLayer/spec

https://omniexplorer.info/tx/47660514c47783a791174ef33828c0ed566e136741664851a7dd06ef5e4ede2b#collapseAmountData

[2018-07-02 06:51] jayphbee commented on #529
Does omniexplorer public api available now?

[2018-07-02 07:00] jayphbee commented on #645
usdt现在是不是没有像etherscan.io 那样的网站，可以提供api 服务？https://www.omniexplorer.info/ 的api文档没有公布， 如果我要做usdt钱包，是不是需要自己搭建一个完整节点呢？

[2018-07-02 21:11] burnside commented on #609
@dexX7 This is great, I am looking forward to adapting my implementation accordingly!

[2018-07-03 00:39] Yucheng123 opened #671 "charged usdt to BitCoin-0.16.0 new address"
sorry , i charged usdt to BitCoin-0.16.0 generated bitcoin addresses,can i get my usdt back?

[2018-07-03 06:45] BuddhaSource opened #673 "USDT download / sync is too slow on AWS, any torrent I can use?"
Syncing on AWS is taking too much time. It has been 5days and I have only reached 2015. I can't even imagine how I will pass 2017.

If I could download the block-chain from a torrent, that would be great.

[2018-07-03 07:12] zeshanvirk commented on #666
need your input on this issue @dexX7

[2018-07-03 07:19] zeshanvirk commented on #666
2018-07-03 06:28:04 receive version message: /Satoshi:0.16.0/: version 70015, blocks=530287, us=88.99.184.67:8333, peer=469
2018-07-03 06:49:04 receive version message: /Satoshi:0.15.0(UASF-SegWit-BIP148)/: version 70015, blocks=530287, us=[2a01:488:67:1000:253d:c8aa:0:1]:50457, peer=470
2018-07-03 06:55:48 receive version message: /Satoshi:0.15.1/: version 70015, blocks=530287, us=37.61.200.170:5

[2018-07-03 13:08] vincentwang0736 opened #674 "occur error 500 when call jsonrpc:omni_createpayload_simplesend in node.js"
When I call jsonrpc-api:omni_createpayload_simplesend in node.js ,I often got 500 error:

Here is my code

and here is my error info printed on console:
[code]
I'm confused that if I call this api by cmd,It's ok,such as below:

I can get right result.
And when I call other api(such as dumpprivkey),I can also get right result,such as below:

So the only question is that why I can't call "omni_creat

[2018-07-04 12:03] ritayzy opened #675 "omni_gettransaction rpc field problem?"
hi, everyone

I'm confused about this

![image](https://user-images.githubusercontent.com/18484770/42276081-01a0b5ec-7fc5-11e8-9e30-6296129fd05c.png)

Anybody know that？Can you help me，thank you.

[2018-07-04 19:08] vagabondan commented on #675
Hi! Your wallet has one or more BTC addresses inside it (you can generate as many as you wish).
So when you get transaction structure in response to omni_gettransaction request, wallet parses the transaction and sets flag ismine to true if sender or receiver of transaction is one of your wallet's addresses.

[2018-07-06 09:34] iloginov opened #676 "Requests takes too long"
I have an Omnicore node up and running. It's synced.

But every request after connecting to network takes too long:
[code]

[code]

What can be the reason? How it's supposed to work with that slow requests? What information can I provide to resolve the issue?

[2018-07-07 16:31] LockwoodChris commented on #665
@dexX7 I found that saving the OMNI_* and MP_* files after the RPC call causes a hang, then force shutting down the omnicore process and restoring the files still destroys the persistent state. I have not tested saving the files while the client is active and not hanging and then restoring from them would work, I will do so.
Saving the OMNI_* and MP_* files once the node has safely shut down alway

[2018-07-07 21:53] amarian12 opened #677 "Is it possible to pay transaction fees from a different source? Please help"
let's say address 1 own 100 omni and 546 sat, address 2 own 0 omni but 1 btc.... how can we pay the fee from address 2 to send omni?

[2018-07-08 06:08] #660 closed

[2018-07-08 06:09] #661 closed

[2018-07-08 11:36] amarian12 commented on #677
ok... i manage to do it:

omnicore-cli listunspent
[
  {
    "txid": "0407c99c30dd75ea91c45e7599c8611a78ac4c27f92c2b05a8df9deace12adca",
    "vout": 2,
    "address": "ms2cyVpcYLFfGVZHR3DJrWQPicWH67rGSa",
    "account": "payment",
    "scriptPubKey": "76a9147e45bc2945d7d1d37726cea8cb2865d95763d57488ac",
    "amount": 0.00000546,
    "confirmations": 1,
    "spendable": true,
    "solvable": true

[2018-07-09 06:25] vimalbera92 opened #678 "How to integrate Omnicore in exchange?"
I'm exploring omnilayer and I'm wondering about it's integration in exchange.

Let's say I've set up node and created addresses for A, B and C users. A and B user deposited 100 Omni to their address and C wants to withdraw 150 Omni to some other wallet on exchange XYZ.

I understand there is a method `omni_send` which will use for simple send functionality but as it requires `from_address`, do we

[2018-07-09 07:52] dexX7 commented on #668
Hi @essemfly, currently the RPC only works with wallet transactions, but a new command for arbitrary transaction retrieval is planed. :)

[2018-07-09 07:52] #668 closed

[2018-07-09 07:53] dexX7 commented on #595
Hi @sksk666, can you please clarify your question?

[2018-07-09 07:53] dexX7 commented on #670
Hi @zhangdaoling,

the spec is incomplete and doesn't fully describe the protocol we use, because it has evolved faster than we kept up.

The sendall transaction type transfers all tokens from one ecosystem to a specified destination.

[2018-07-09 07:53] #670 closed

[2018-07-09 08:37] egonson opened #679 "I cannot use omni_send"
./omnicore-cli help omni_send
help: unknown command: omni_send

Why does my omnicore-cli not have the 'omni_send' method?

omni version is origin/master
commit 5d5afbb37e812061c45cb14b0a65650dfb078564
Merge: 1ff8375 b236998
Author: dexX7 <dexx@bitwatch.co>
Date:   Tue Jun 12 07:54:13 2018 +0200

available 'omni_' methods are...

== Omni layer (data retrieval) ==
omni_getactivations
omni_getactivec

[2018-07-10 11:03] lixuegang opened #680 "omni_send error: Invalid amount"
JSON-RPC
{"result":null,"error":{"code":-3,"message":"Invalid amount"},"id":"-7602726211412766331"}

[2018-07-11 01:35] egonson commented on #679
Because of --disable-wallet option in configuration
Solved.

[2018-07-11 01:35] #679 closed

[2018-07-11 15:38] sunwell commented on #645
@jayphbee yes，u need build ur own usdt full node and maybe u also need to scan all the blocks of the full node. So u can optimize ur wallet service.

另外，这种问题，大家应该尽量使用英文交流，有助于问题的解决以及给别人提供帮助。

[2018-07-12 02:05] jayphbee commented on #645
@sunwell thanks for your replay.

[2018-07-12 02:13] sunwell opened #681 "Several questions about USDT."
When I ran `./omnicored` command, I got these below:

[code]

I guess this command is running on the main net, and loading blocks to my local.

Doubt A, when I ran `./omnicore-cli omni_listproperties` command, I only got two types of currencies, like below:

[code]

Doubt B, and when I ran `./omnicore-cli omni_send` command, no matter how much I sent and what kind of currency I configured, I alway

[2018-07-12 07:58] dexX7 commented on #681
Hi @sunwell,

based on the first lines you posted, it looks like your client is currently at block 259388. This is far away from the actual chain length. In this case no other properties were scanned and the funds you sent were also not yet seen.

Is the client still synchronizing?

[2018-07-12 07:59] dexX7 commented on #679
Thanks for providing a solution also, @egonson!

[2018-07-12 08:00] dexX7 commented on #680
Hi there,
can you please also post which arguments you used? An invalid amount error is usually thrown, when trying to send something like 0 tokens.

[2018-07-12 08:02] dexX7 commented on #677
Hi, it looks like you already found the tutorial for building raw transactions. As long as the first transaction input is from the token source, you can use other inputs.

There is an outstanding pull request to handle this for you, which you might check out:

https://github.com/OmniLayer/omnicore/pull/658

Otherwise it's going to be integrated in the next few days and is part of the next release,

[2018-07-12 08:02] #677 closed

[2018-07-12 08:04] dexX7 commented on #657
Thank you for providing a potential fix for newer boost versions. I'm going to take a look at it in the next few days!

[2018-07-12 08:06] dexX7 commented on #665
Hi guys,

it looks like there is indeed an issue with the persistent state and recovering it. A fix was provided via #672, which hopefully resolves the issue.

I'm going to integrate it in the next few days, if the original submitter doesn't provide a new PR against the develop branch.

[2018-07-12 08:07] dexX7 commented on #529
Hi @jayphbee, check out https://api.omniexplorer.info/.

[2018-07-12 08:08] dexX7 commented on #609
Awesome @burnside, let me know how it goes.

[2018-07-12 08:08] #609 closed

[2018-07-12 08:10] dexX7 commented on #671
Hi @Yucheng123, do you fully control the destination and have the private key for it?

[2018-07-12 08:10] dexX7 commented on #669
Thanks for keeping us up to date @JeremywangCN. Great you figured it out!

[2018-07-12 08:13] dexX7 commented on #674
Hi there, do you submit the amount as string?

[2018-07-12 08:31] jayphbee commented on #529
@dexX7  amazing work! By the way, is it open source for the backend ?

[2018-07-12 08:35] Yucheng123 commented on #671
yes,i have the full control of private key

[2018-07-12 11:29] sunwell commented on #681
@dexX7 Thank u for ur reply first. U unravel my doubts.
Yeah, I saw the latest block index is 531596 and I have stopped synchronizing.
I will continue my synchronization tonight. And by the way, how much storage the entire USDT chain will take? And where are these blocks stored in?

In addition, can u tell me ur twitter or wechat or what ever else? So that I can communicate with u conveniently.

[2018-07-12 13:14] nbphuoc opened #682 "Valid omni transaction has no recipient, fund is lost"
I accidentally built this valid omni transaction without a recipient.
https://www.omniexplorer.info/tx/bfd1d982c137beb23035838505505265e836d12ae423943c5fc07f566a94f14a
It is still considered valid on the omni network and the property amount is deducted from the sending address. However, there is no recipient so the fund is lost.
This transaction should be considered invalid and the fund should sti

[2018-07-12 17:15] vagabondan commented on #665
@dexX7 This are really awesome news! Thanks a lot!

[2018-07-12 17:25] vagabondan commented on #676
Hi! I have the same problem and suspect issue with threads synchronization and subsequent mutex deadlock because wallet will finally freeze after several RPC calls.

[2018-07-12 17:33] vagabondan commented on #624
I think it relates to these issues:
https://github.com/OmniLayer/omnicore/issues/676
https://github.com/OmniLayer/omnicore/issues/665

[2018-07-13 02:08] lixuegang commented on #680
OK, Thank you.

[2018-07-13 02:08] #680 closed

[2018-07-13 05:18] sunwell opened #683 "https://omniexplorer.info/ shows nothing?"
Through my debug, I saw these two apis failed:
https://api.omniexplorer.info/v1/system/status
https://api.omniexplorer.info/v1/transaction/general/0

Do u have the same problem?
Please feel free to comment.

[2018-07-13 16:32] kazaff commented on #545
@dexX7
What about 192,330 and 341?
I found them on [office assets page](https://www.omniwallet.org/explorer/assets)

[2018-07-13 17:08] frankegoesdown opened #684 "Can i pay fee for sender?"
I have n+1 addresses with OMNI but only 1 address with BTC
And I want to pay transaction fee from my btc for transaction from my omni addresses to my btc address
n2oF6UdLhE5bZwbL1GjJg6xra4sKbZCFCX - one of my omni address
mu3jCisS49s9GT8oBtrAUKpXMVBrFgjYWt - my btc address

`omnicore-cli listunspent 0 999 '["mu3jCisS49s9GT8oBtrAUKpXMVBrFgjYWt"]'`
[code]

`omnicore-cli createrawtransaction '[{"txid

[2018-07-13 17:15] #683 closed

[2018-07-14 02:45] kazaff opened #685 "why USDT have more than one property id?"
Many articles says that the USDT's property id is 31?
What about 192,330 and 341?
I found them on [office assets page](https://www.omniwallet.org/explorer/assets)

[2018-07-15 07:44] phongnguyen6691 opened #686 "Error: listunspent alway returns an Empty Array"
Hi all,

This is urgent to me. I finished to set up the Omni core and it synced 100% successfully.
My version info:
![image](https://user-images.githubusercontent.com/6027307/42731792-d3639186-883e-11e8-965c-14b5ab0a9cd7.png)

Everything seems working fine now except function "listunspent".

Following the article here to create a raw transaction https://github.com/OmniLayer/omnicore/wiki/Use-the-r

[2018-07-15 07:56] mcb345 commented on #676
I am having the same issue , every request takes minutes, even when I am trying to do getinfo or omni_getinfo

[2018-07-15 08:53] sunwell commented on #681
@dexX7
 Hi, I got a new question about USDT/omnicore.
I use ./omnicored command to load blocks from main net on my own Mac, but it is already about 111GB and the block number is still too small (about 432687). My disk almost explode.
Do I need load all blocks? And Are there any solution to solve this? Or build a server with a large disk capacity？
Thx~

[2018-07-16 04:15] kazaff commented on #529
@dexX7 how can i use `sendtoaddress` method and control the sender address?  this method only set up toAddress.... so, i don't know  which address the `TOMNI` coin send to...

[2018-07-16 05:16] kazaff opened #687 "how to get OMNI coin in testnet"
Hi there~

I run a testnet nodes on my laptop for test.
Follow the [doc](https://github.com/OmniLayer/omnicore#testnet), but i didn't get OMNI coin.
I'm sure about what I did is same to what the document want me to do.

So, is the document still valid? Or did i miss something important information?

Help me please~~oz!

[2018-07-16 07:04] vagabondan commented on #685
Any id except id=31 could be just fake ones, because anyone can create his/her own token with any additional info and token name.

[2018-07-16 07:13] vagabondan commented on #665
I've merged changes to master branch. After several restarts it seems everything is ok with persistent state, but not all cases had been tested so far.

[2018-07-16 08:34] vagabondan opened #688 "Stable mainnet production ready omni wallet"
Hello!
Unfortunately, current omnicore is too unstable. Most annoying bugs:
Bug 1. persistent state loss
Bug 2. long RPC calls (~ 1 min or longer for simple requests like getinfo) and finally wallet freezes after several RPC calls

Bug 1 can be avoided by periodic backups of OMNI layer files, so it seems less importatnt than bug 2.
Bug 2 makes omnicore almost totally useless for automated interact

[2018-07-16 08:35] kazaff commented on #687
oh, maybe my environment is running in Regtest mode.

what can i do in this mode if i need get OMNI coin for test.

[2018-07-16 08:49] kazaff commented on #620
thanks all~

[2018-07-16 08:50] #620 closed

[2018-07-16 12:16] frankegoesdown commented on #687
just send 1 btc to address `moneyqMan7uh8FqdCA2BV5yZ8qVrc9ikLP` and then get 100 omni and 100 tomni on sender address

[2018-07-16 12:37] dexX7 opened #689 "Add documentation for new funding RPCs"
The documentation should be updated to reflect the new API.

[2018-07-16 12:42] dexX7 commented on #665
Thank you a lot for testing this! It's going to be released with the next minor release.

[2018-07-17 00:07] kazaff commented on #687
@frankegoesdown
But in my experience, I didn't get any coin~~OZ

[2018-07-17 00:08] kazaff commented on #685
@vagabondan  thank you for answer

[2018-07-17 03:23] kazaff commented on #591
@dexX7  hi~

can i have the detail of `omni_sendissuancefixed` to use?

I make the rpc request like the [doc](https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#omni_sendissuancefixed) said:
[code]
But i got the error back.

I found that the doc described that every parameters have been required, so why the demo DO NOT set the last three params? And how to set them? What

[2018-07-17 03:45] kazaff opened #691 "how to use omni_sendissuancefixed"
hi there~

can i have the detail of omni_sendissuancefixed to use?

I make the rpc request like the doc said:
[code]
But i got the error back.

I found that the doc described that every parameters have been required, so why the demo DO NOT set the last 4th params? And how to set them? What do they means?

thanks in advance~

[2018-07-17 06:33] qianlifeng commented on #490
I have the same question, if I have a lot of USDT addresses, do I need to send BTC to all of them and then send the USDT out? Is there any convenient way?

[2018-07-17 09:45] mcb345 opened #692 "omni_listtransaction ignore 2nd (count) and 3rd (skip) arguments"
I tried calling `omni_listtransactions` from RPC,

[code]

I have 3 transactions (incoming/Simple Send)

This method returned all of my transaction even if I put that 2nd and 3rd param, which supposed to show no record , as the 3rd args (which should be skipping x amount of transaction) got ignored too.

Any idea for this to make this thing work like Bitcoin listtransactions ?

[2018-07-17 11:06] dexX7 commented on #683
Hi @sunwell, the API is up for me, might have been a temporary failure.

[2018-07-17 11:08] dexX7 commented on #545
Hi @kazaff,

tokens are identified by their identifier, not by their name, and people can freely create as many "TetherUS" tokens as they want.

[2018-07-17 11:09] dexX7 commented on #490
Hi @qianlifeng,

currently you need to send BTC to each of them, however, with #658 things become much easier, which is going to be integrated into the next release. If you can build from source, you could give it a try already.

[2018-07-17 11:12] dexX7 commented on #591
Hi @kazaff,

actually it looks like the documentation isn't correct for this call, because it shows the fields for crowdsales.

Which error do you get?

[2018-07-17 11:13] dexX7 opened #694 "Update documentation for omni_sendissuancefixed"
The documentation shows fields for crowdsales, which is not correct:

https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#omni_sendissuancefixed

Related to #691.

[2018-07-17 11:13] dexX7 commented on #529
Can you please clarify the question @kazaff?

[2018-07-17 11:19] dexX7 commented on #691
Which error do you get?

In regtest mode, the RPC works for me with the following sequence:

[code]
[code]
[code]
[code]
[code]

[2018-07-17 11:24] dexX7 commented on #692
Hi @mcb345,

in the current release and master branch there is the issue as you described. We fixed it via #592, which is going to be part of the next release. The next version of Omni Core is going to be released within a month, but you could try to give building from the develop branch a chance.

Please note, the RPC only works for wallet transactions and can not be used to retrieve arbitrary da

[2018-07-17 11:24] #692 closed

[2018-07-17 11:38] dexX7 commented on #685
I added a wiki entry for this question:

https://github.com/OmniLayer/omnicore/wiki/Why-are-there-multiple-tokens-with-similar-names,-e.g.-TetherUS%3F

[2018-07-17 11:38] #685 closed

[2018-07-17 11:39] dexX7 commented on #686
Hi @phongnguyen6691,

listunspent only shows unspent outputs that you have the private key for. Do you control the address you provided?

[2018-07-17 11:40] dexX7 commented on #676
Hey guys,

when the client isn't fully synchronized (current chain length: 532281), things are very slow, because the processing of new blocks is blocking.

It looks to me as this is the case here.

[2018-07-17 11:46] dexX7 commented on #682
Hi @nbphuoc,

thanks for the report. On a protocol level this is actually the case: when no receiver is specified, the funds are send to the sender! So in this case no tokens are lost and still in control of 1BUJGjEqoCK46yk5uuw1T35jAzSFbpGr4F.

However, this is certainly an issue with Omni Explorer, which doesn't show the funds. Please don't worry, @achamely will provide a fix. I created #152 to t

[2018-07-17 11:52] dexX7 commented on #681
Hi @sunwell, my Twitter handle is @dexx7y and my Telegram handle is also @dexx7y.

You need all the blocks, which currently take about 220 GB, if I'm not mistaken.

[2018-07-17 11:54] dexX7 commented on #687
Hi @kazaff,

if you mined the coins, please try to send the BTC first to an intermediate destination.

[2018-07-17 11:55] dexX7 commented on #688
Hi @vagabondan,

slow responses are usually the case, when the client is still synchronizing, because the processing of new blocks is blocking. The persistence issue is fixed in the develop branch.

[2018-07-17 12:04] shahidzebpay opened #696 "Segmentation fault (core dumped)"
I have installed bitcoin core testnet and its syncing the block.

after building omni core successfully, I have run this command.

./omnicored
and recieved this error.
Segmentation fault (core dumped)
any help would be appreciated.

[2018-07-17 12:08] Sambusik commented on #529
So to my understanding, USDT does not have a testnet.
In other words, we cannot test sending test coins of USDT to an address, this must be done on the mainnet, with real USDT.

I've reached a point where I have some OMNI (#1) & Test OMNI (#2), but no USDT (#31) to send out, so technically, there is no proper way to test if USDT is working for us, unless we test it with real USDTs.

[2018-07-17 12:11] kazaff commented on #685
thanks

[2018-07-17 12:12] dexX7 commented on #529
@Sambusik, this is correct, but you could create your own token in regtest mode or testnet, or use Omni or Test Omni to test with.

[2018-07-17 12:25] kazaff commented on #691
@dexX7

this is what i send:
[code]

this is what i got:
[code]

[2018-07-17 12:29] dexX7 commented on #691
Can you please post the result of:

[code]

[2018-07-17 12:29] kazaff commented on #691
i'm not sure what version i choose. this is the image i found: https://hub.docker.com/r/jborozdina/omnilayer-regtest/

[2018-07-17 12:31] kazaff commented on #691
@dexX7

[code]

[code]

[2018-07-17 13:55] vagabondan commented on #688
Hi,
@dexX7, no, it's not our case. I wrote about fully synced node.
Fully synced node responses as long as ~ 1 min for simple request and freezes after several successive requests.
It's reproduced under Ubuntu 16.04, Ubuntu 18.04, latest Alpine Linux.

Didn't you reproduced it? If not, please tell me your environment configuration.

[2018-07-17 14:11] kazaff commented on #689
wow~ awesome!!! CAN NOT to wait.

[2018-07-17 15:14] sunwell commented on #681
ok, thx~ @dexX7

[2018-07-17 15:14] #681 closed

[2018-07-17 15:55] sunwell commented on #683
@dexX7 yeah, it is a temporary failure. I have closed this issue.

[2018-07-18 00:16] kazaff commented on #691
@dexX7

Still waiting your help~~😂

[2018-07-18 05:57] phongnguyen6691 commented on #686
thanks a lot @dexX7. Close the ticket

[2018-07-18 05:57] #686 closed

[2018-07-18 13:10] sunwell opened #699 "Load blocks to my custom data directory?"
Hi, I delete the whole data directory in `/Users/sunwell/Library/Application Support/Bitcoin`, and I can now load blocks to my custom directory with command  `./omnicored -datadir="/Volumes/Sss/Bitcoin/" -conf="/Volumes/Sss/Bitcoin/bitcoin.conf"`. But when I use ./omnicored to load blocks, I still get this message:

[code]

and the `./omnicore-cli `command still gives me the message below:

`error

[2018-07-19 04:18] CockyCat opened #700 "Use omni_send: Error with selected inputs for the send transaction"
I use  omni_send and then throw this error:

error code: -206
error message:
Error with selected inputs for the send transaction

I can confirm that there are 0.0005 BTC in the sender's address. Why can there be such a mistake

[2018-07-19 06:11] enVolt commented on #687
I have received 1.3 BTC from a testnet faucet, and send these to `moneyqMan7uh8FqdCA2BV5yZ8qVrc9ikLP`, I've not received anything yet.

here is the tx id - 3ed69fed5fad56c4675f532836be08f326b2c9082aadd55ded885e97747ffcdd
([explorer](https://testnet.blockexplorer.com/tx/3ed69fed5fad56c4675f532836be08f326b2c9082aadd55ded885e97747ffcdd))

[2018-07-19 11:32] kensama7 opened #701 "When I send USDT, receiver also get tiny BTC (0.00000540). What is this? What for?"
When I send USDT, receiver also get tiny BTC (0.00000540). What is this?
https://live.blockcypher.com/btc-testnet/tx/fc6956d5d91fdb690826ab7e9d318171b4ef8b3335c3d0d1b142d6bd3c1765ac/

And is it fixed value or not?

[2018-07-19 15:33] dexX7 commented on #682
The issue has been resolved:

https://www.omniexplorer.info/address/1BUJGjEqoCK46yk5uuw1T35jAzSFbpGr4F
https://www.omniexplorer.info/tx/bfd1d982c137beb23035838505505265e836d12ae423943c5fc07f566a94f14a

[2018-07-19 15:33] #682 closed

[2018-07-19 15:34] dexX7 commented on #701
The Omni Layer uses Bitcoin transactions to add payloads, which are interpreted by Omni aware software.

This output, with a value of a few satoshi, is needed to "tag" the recipient of an Omni Layer transaction.

[2018-07-20 15:49] dexX7 commented on #700
Hi @CockyCat, can you try with -txconfirmtarget=25 only?

[2018-07-21 07:30] micky53 opened #702 "Is it possible to use fee from another address?"
Hello. Is it possible to use btc fee from another address?
For example. I have Usdt at FromAddress, but haven't enough btc at this address. And I have many btc at FeeAddress. I want to make only one transaction that make simple send from FromAddress to destination and use FeeAddress for bitcoin fee.

[2018-07-22 19:18] vagabondan commented on #688
@dexX7, after some investigation with gdb I believe, that:
1. The main issue with long RPC calls is that msghand (message handler) and httpworker threads compete for cs_main mutex. msghand blocks majority of rpc calls while reading/writing/parsing transactions from new blocks (or because of neighbour nodes requests) by acquiring cs_main mutex.
2. Freezing is result of deadlock between two rpc thre

[2018-07-22 20:43] vagabondan commented on #688
@dexX7 I think this is one of the many examples of deadlocks because you lock successively at least 3 mutexes at different places: cs_main, cs_tally, cs_tx_cache...
This code should be extensively reviewed for thread safety considerations.

[2018-07-24 07:37] CockyCat commented on #700
As usual, @dexX7

[2018-07-25 06:54] shahidzebpay opened #703 "Where is reciever address located in omni transaction data?"
Hi,

After I do omni_gettransaction txId or omni_decodetransaction txraw then I get the following response.

[code]
I am not clear about the receiver address in it.

Any help would be appreciated.

[2018-07-25 09:17] tangjielong opened #704 "Why can't I use omni_listproperties to see "propertyid" after my Omni startup: 31"
root@SS02:/usr/local/omnicore/src# ./omnicore-cli -rpcport=8332 "omni_listproperties"
[
  {
    "propertyid": 1,
    "name": "Omni",
    "category": "N/A",
    "subcategory": "N/A",
    "data": "Omni serve as the binding between Bitcoin, smart properties and contracts created on the Omni Layer.",
    "url": "http://www.omnilayer.org",
    "divisible": true
  },
  {
    "propertyid": 2,
    "name":

[2018-07-25 09:23] tangjielong opened #705 "Omni_listproperties does not see complete tokens"
root@SS02:/usr/local/omnicore/src# ./omnicore-cli -rpcport=8332 "omni_listproperties"
[
  {
    "propertyid": 1,
    "name": "Omni",
    "category": "N/A",
    "subcategory": "N/A",
    "data": "Omni serve as the binding between Bitcoin, smart properties and contracts created on the Omni Layer.",
    "url": "http://www.omnilayer.org",
    "divisible": true
  },
  {
    "propertyid": 2,
    "name":

[2018-07-25 20:42] vagabondan commented on #688
As workaround, I've added LOCK(cs_main) in all omni RPC calls, that use populateRPCTransactionObject function. This corresponds to bitcoin core way of call RPC procedures like getblock. Now I'm testing, but after 30k RPC calls it seems that everything is ok.
I'll come back with pull request to develop branch some time later.

[2018-07-26 06:55] zhlqee opened #706 "How to distinguish omni_send and omni_createpayload_simplesend?"
Hello all,
    Now I'm in the research stage. I don't really understand the difference between omni_send and omni_createpayload_simplesend now. I found that omni_send doesn't specify any cost, and omni_createpayload_simplesend is OK.About omni_createpayload_simplesend like this [https://github.com/OmniLayer/omnicore/wiki/Use-the-raw-transaction-API-to-create-a-Simple-Send-transaction](url)

[2018-07-26 07:07] zhlqee opened #707 "Why omni_send does not need to set up the cost？"
Why omni_send does not need to set up the cost, and automatically deducts the transaction cost after successful transaction？

[2018-07-26 07:37] #706 closed

[2018-07-26 07:38] #707 closed

[2018-07-26 08:56] tangjielong commented on #674
client.cmd('omni_createpayload_simplesend',2,"0.1", function(err, hashs) {
    if (err) return console.log(err);
    console.log('hashs:', hashs);
);
can run it

[2018-07-26 13:30] dexX7 commented on #703
Hi there,

the receiver of this transaction is the "referenceaddress" in this output.

Does this clear your question, or where you asking about the actual on-chain transaction structure?

[2018-07-26 13:30] dexX7 commented on #704
Hi,

looks like your client isn't fully synchronized. Can you please post the result of `omni_getinfo`?

[2018-07-26 13:31] dexX7 commented on #705
Duplicate of #704.

[2018-07-26 13:31] #705 closed

[2018-07-26 13:33] dexX7 commented on #691
Sorry for the late response, but I think I finally found the underlying issue.

When sending tokens, then it's only allowed from certain script types, like pay-to-script-hash or pay-to-pubkey. It's not allowed to send an Omni transaction with coinbase coins, which you mined. This is unfortunately a leftover from the original implementation.

Can you please generate a new address with "getnewaddres

[2018-07-26 14:34] CockyCat commented on #700
Pls help me

[2018-07-26 17:04] vagabondan commented on #688
It seems, that solution is even simpler:
just replace at omnicore.cpp:parseTransaction() LOCK macro with LOCK2:

    { // needed to ensure the cache isn't cleared in the meantime when doing parallel queries
    //LOCK(cs_tx_cache);
    LOCK2(cs_main,cs_tx_cache); // cs_main should be locked first to avoid deadlocks with cs_tx_cache at FillTxInputCache(...)->GetTransaction(...)->LOCK(cs_main)

[2018-07-27 01:04] tangjielong commented on #704
yeah,the next day is down.

[2018-07-27 06:23] shahidzebpay commented on #703
Thanks, this answers my question.

[2018-07-27 06:23] #703 closed

[2018-07-27 08:44] zhlqee opened #708 "How to use omni_createrawtx_change to pay fee for sender?"
Hi,
    I have 2 address(`mp4vDn4J5Q24FM9chHY9bfSTG9fhqUyCi9`, `moCDGyDMBWB2Va8W2McAUk3sppNGmRS9Lk`) with OMNI and 1 address(`n1FGCTNVq3oFkQ1n4G1tQ3jRXeaN39LWG5`) with BTC.
 I want to pay transaction fee from `n1FGCTNVq3oFkQ1n4G1tQ3jRXeaN39LWG5` for transaction from my omni addresses.What shall I do?

[2018-07-27 10:46] whateverpal opened #709 "OMNI node freezes after RPC requests"
Hello,

I've been pulling Omni transactions data by sequentially scanning blocks and doing the following RPC calls for each block: getblockhash -> getblock -> omni_listblocktransactions -> (for each tx: omni_gettransaction). Somewhere around block 450000 the Omni node started freezing every now and then after RPC request is made. When frozen, it doesn't respond to any further calls (via RPC or CLI

[2018-07-30 14:32] dexX7 commented on #688
Thank you so much for looking into this!

[2018-07-30 14:32] #688 closed

[2018-07-30 14:33] dexX7 commented on #709
Hi there,

I merged a potential fix for this issue a few minutes ago. Are you able to test the develop branch?

[2018-07-31 07:39] #708 closed

[2018-07-31 09:35] romever commented on #709
It's awesome!This issue has plagued me for several days.

[2018-07-31 10:43] APshenkin commented on #687
@dexX7 have the same issue with my address mzu1qfU4CTKLpewJf61uxg84PZDbFZtKEP
https://testnet.blockchain.info/address/mzu1qfU4CTKLpewJf61uxg84PZDbFZtKEP

I can't see tx where somebody give me test coins

[2018-07-31 11:14] APshenkin commented on #687
Hm, maybe I have to send BTC using Omni node? Current transaction was sent via usual bitcoin node

[2018-07-31 17:06] JoeWallCrypt0 commented on #701
@dexX7 Would that BTC amount is enough for future USDT transactions?

I have custody of customer's USDTs and I want to know if I need additional BTC in Omnicore when they want to withdraw

[2018-08-01 05:06] kensama7 opened #712 "I think block Full-sync is pain point of omnicore."
I think block Full-sync is pain point of omnicore.
Can I avoid block Full-sync through coping block files or another way?

[2018-08-01 06:13] dexX7 commented on #701
Hi @JoeWallCrypt0,

it's not enough to cover the whole transaction fee, but when funding from another source, it is sufficient.

I merged a patch to allow funding from a second source, which is going to be part of the next release:

https://github.com/OmniLayer/omnicore/pull/658

[2018-08-01 06:13] #701 closed

[2018-08-01 06:14] dexX7 commented on #687
There is no explicit transaction: mzu1qfU4CTKLpewJf61uxg84PZDbFZtKEP implicitly receives the test tokens.

[2018-08-01 06:15] dexX7 commented on #673
Hi @BuddhaSource,

this is unexpected and I can not confirm the slow download.

There were a few similar reports, but unfortunately we haven't found the underlying issue, assuming there is one. :(

[2018-08-01 06:17] dexX7 commented on #712
Hi @kensama7,

there are a few similar reports of a slow download and synchronization, while we were unable to confirm it. The speed depends on your internet connection and computation power. It usually takes between half a day to a few days.

If you have 8 GB or more RAM, you can start Omni Core with `-dbcache=5000` to speed things up a bit.

Do you have an already synchronized Bitcoin Core clien

[2018-08-01 07:16] kensama7 commented on #712
Yes. I have synchronized Bitcoin Core clients. And I use Omni Core on Linux machine with 64G ram.

[2018-08-01 07:17] kensama7 commented on #712
Can I set up the `-dbcache` more than 5000. And is it worth?

[2018-08-01 07:41] dexX7 commented on #712
Awesome, please try this. You could also set `-omnidebug=none`, which may speed things up a little bit further.

[2018-08-01 17:53] JoeWallCrypt0 commented on #701
Thanks @dexX7 this helps

[2018-08-01 18:31] sybot99 commented on #712
dexX7
-omnidebug=none
it's dont work: http://prntscr.com/kdhpkg

[2018-08-02 13:55] vetal20600 commented on #623
@dexX7 So no way to get all balances that belong to wallet? Will you support this feature in future?

[2018-08-02 14:18] dexX7 commented on #623
Hi @vetal20600,

actually I'm currently working on two new RPCs:

- omni_getwalletbalances: lists the total balances for each token in the wallet
- omni_getwalletaddressbalances: lists all balances for every address in the walet

[2018-08-02 14:19] dexX7 commented on #712
20 days? How fast is your internet connection?

The `-dbcache=5000 -omnidebug=none` is added, when starting Omni Core, e.g.:

[code]

[2018-08-02 14:56] sybot99 commented on #712
dexX7
new notebook. only win 10 there
100mb/c

[2018-08-02 21:52] vetal20600 commented on #623
@dexX7 can you add something like omni_get_wallet_balances_for_property propertyid? it would be nice to check all tether balances in wallet

[2018-08-03 14:36] vetal20600 opened #714 "How to send total Tether balance of wallet to another address?"
Is there a way to send total tethers (or any other token) which belong to wallet to new address?
as I see there is not such feature.
basically I am looking for new method which is close to this one:
`omni_send "fromaddress" "toaddress" propertyid "amount" `
but does something new
`omni_send_all "toaddress" propertyid "amount" `

[2018-08-03 15:34] JoeWallCrypt0 commented on #678
I'm also interested in this. If I try `omni_getbalance` I get 100 omnis each for user A and B, and 0 omni for user C. So user is unable to withdraw.

I can try to do several `omni_send`from A and B to C but would require btc transaction fees

For bitcoin, I am able to do above with HD address generation but not sure about process for Omnicore

Thanks

[2018-08-03 15:48] vimalbera92 commented on #678
Omni will work same as ethereum. So you have to fetch coins from user's address to hot wallet and withdrawal will work from hot wallet.

Hope this answers your doubt.

Thanks,
Vimal

[2018-08-03 15:48] #678 closed

[2018-08-06 06:29] kazaff commented on #691
@dexX7 thank you again

[2018-08-06 13:04] josepajay opened #717 "Omnicore node showing 'still scanning' on restart"
![screenshot from 2018-08-06 16-54-13](https://user-images.githubusercontent.com/15032460/43717295-b3d2f63c-99a4-11e8-90b8-1adbb58b563b.png)

I have restarted node, since it was too slow. After restart I am getting error code -28 and shows still scanning. Its been more than 6 hours now after restart.

And time remaining is showing in weird way which cannot be interpreted

[2018-08-07 05:57] #699 closed

[2018-08-07 10:13] zhlqee opened #718 "How do I specify multiple change addresses？"
How do I specify multiple change addresses and assign the change amount for each change address?

[2018-08-07 15:37] shiayoung opened #719 "if outType is TX_MULTISIG, then 'hasMultisig' set to true, but 'hasExodus' will always false"
https://github.com/OmniLayer/omnicore/blob/d03329c8571b02e83956cdc4cd6d77095b78e18b/src/omnicore/omnicore.cpp#L753

[2018-08-07 15:39] #719 closed

[2018-08-07 23:17] vetal20600 opened #720 "does omni_createfunded_send work? [Error choosing inputs for the send transaction]"
I built develop version and tried to use new features.
balance of address 1GFn8X9dtsvjLeXQ65DVjd4vttdtjqQkvx is:
[code]

then I put:
[code]
My second try gave me error below:
[code]

How to use this method? What went wrong?

[2018-08-07 23:29] vetal20600 commented on #720
I got to do signrawtransaction
then sendrawtransaction

[2018-08-08 02:23] kensama7 opened #721 "Is it possible many to many transactions in omnicore?"
Hi.
Is it possible many to many transactions in omnicore like omnicore-lite?
https://gist.github.com/dexX7/ba45d52d8edd084357253d93360e1519

Or do you have a plan to do?

[2018-08-09 12:32] #720 closed

[2018-08-09 17:23] #721 closed, assigned to nobody

[2018-08-09 17:24] dexX7 commented on #678
Right. Omni transactions use Bitcoin transactions, so you may have to fund destinations, before they can move tokens.

However, I recently merged #658, which should make things easier.

For a few hints regarding an integration, check out the following post:

https://github.com/OmniLayer/omnicore/wiki/Platform-Integration-of-Omni-Core

[2018-08-09 17:28] dexX7 commented on #718
Hi @zhlqee,

I fear you have to use the raw transaction API for this. Here are some hints:

https://github.com/OmniLayer/omnicore/wiki/Use-the-raw-transaction-API-to-create-a-Simple-Send-transaction

When using [omni_createrawtx_reference](https://github.com/OmniLayer/omnicore/blob/develop/src/omnicore/doc/rpc-api.md#omni_createrawtx_reference), you can specify an amout that is sent to the destina

[2018-08-09 17:30] dexX7 commented on #714
Hi @vetal20600,

actually there is almost something like this:

https://github.com/OmniLayer/omnicore/blob/develop/src/omnicore/doc/rpc-api.md#omni_sendall

The send all transaction transfers all tokens from the source to the destination. In your case therefore all the USDT. However, if there are other tokens, they will be transferred as well. USDT is in the main "ecosystem" (= 1).

[2018-08-09 18:42] vetal20600 commented on #714
@dexX7 thanks for advice? what if I want to send just 15 from 20 tethers which belong to four addresses of same wallet? Can I do it somehow?

[2018-08-09 18:47] dexX7 commented on #623
Hi @vetal20600,

omni_getwalletbalances provides a list of total balances for the whole wallet for each token in the wallet, so I think it should be fine. :)

I'm going to finalize and merge the pull request (#716) tomorrow. The Omni Core v0.3.1 release is expected in roughly two weeks.

[2018-08-09 18:48] dexX7 commented on #709
Hopefully resolved via #711.

[2018-08-09 18:48] #709 closed

[2018-08-09 18:48] dexX7 commented on #691
You're welcome!

[2018-08-09 18:48] #691 closed

[2018-08-09 18:48] dexX7 commented on #694
Resolved via #716.

[2018-08-09 18:48] #694 closed

[2018-08-09 18:48] dexX7 commented on #633
Resolved via #634.

[2018-08-09 18:48] #633 closed

[2018-08-09 18:49] dexX7 commented on #583
Hopefully resolved via #592.

[2018-08-09 18:49] #583 closed

[2018-08-09 19:08] vetal20600 commented on #623
@dexX7 thanks! this is great news!

[2018-08-09 19:09] vetal20600 commented on #720
Yes, this is what happened. I did not know that I have also to do signrawtransaction, then sendrawtransaction.

[2018-08-09 22:55] shiayoung commented on #719
sorry, i have misunderstood the code at that very moment😂

[2018-08-10 06:05] dexX7 commented on #720
Hm.. I see. And I can see how this could turn into a huge issue, e.g. when the user uses "omni_createfunded_send" a few times, but doesn't broadcast the transactions. He or she will then end up with locked UTXOs and may not even have an idea what's happening or how to unlock them.

Do you think it could be better to not lock the UTXO as per default? However, this bears the risk, that a second call

[2018-08-10 06:06] dexX7 commented on #714
Currently not possible. At the moment you can only send from one single token source.

[2018-08-10 08:06] dexX7 commented on #689
Resolved via #724.

[2018-08-10 08:06] #689 closed

[2018-08-10 08:40] dexX7 commented on #623
Resolved via #716.

[2018-08-10 08:40] #623 closed

[2018-08-10 08:59] dexX7 commented on #489
Hi @mcb345,

this is a common issue integrators face. We added two new RPCs, which allow to create raw transactions, which are funded from other sources, which may help in this context:

- https://github.com/OmniLayer/omnicore/blob/develop/src/omnicore/doc/rpc-api.md#omni_createfunded_send
- https://github.com/OmniLayer/omnicore/blob/develop/src/omnicore/doc/rpc-api.md#omni_createfunded_sweep

The

[2018-08-10 09:03] dexX7 commented on #712
Hey @sybot99, sorry for the late reply.

Can you please locate the `omnicored.exe` file? If so, start a cmd (press Windows + R, then type "cmd", hit enter), and please try the following:

[code]

[2018-08-10 09:04] dexX7 commented on #696
Hi, did the issue came another time, after you restarted the process?

[2018-08-10 09:05] dexX7 commented on #717
Hi @josepajay,

did you import new addresses? This should resolve after some time.

It's hard to tell for me, which part causes this, but we've merged performance improvements into the develop branch, which should make things a bit faster.

[2018-08-10 09:27] vetal20600 commented on #720
I guess you can just add description below after omni_createfunded_send command output about what to do next:
[code]

This is enough I think

[2018-08-10 20:54] vetal20600 commented on #714
Are you going to support this feature ?

[2018-08-11 05:28] liuhuanhui opened #726 "Hello, my rpc connection here always shows timeout"
## Hello, my rpc connection here always shows timeout
## Occasionally you can connect

### system：
Linux usdt-server 3.10.0-693.2.2.el7.x86_64 #1 SMP Tue Sep 12 22:26:13 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

### version:
Omni Core Daemon version v0.13.2.0-g5d5afbb37e81
Copyright (C) 2009-2017 The Bitcoin Core and Omni Core developers

Please contribute if you find Omni Core useful. Visit <http:

[2018-08-13 08:34] vetal20600 commented on #726
File name of configuration file should be: bitcoin.conf

[2018-08-13 09:01] liuhuanhui commented on #726
Yes, my configuration file name is bitcoin.conf, the above is my hand error, just a title
@vetal20600

[2018-08-13 09:02] liuhuanhui commented on #726
![_20180813155908](https://user-images.githubusercontent.com/10370625/44022593-a8dcdbf0-9f1a-11e8-8679-cdbc49753f05.png)
Also why do you need to scan, the scan is very slow

[2018-08-13 11:12] dexX7 commented on #714
We'd love to! But at this point it's not yet in work.

[2018-08-13 11:17] dexX7 commented on #613
@pabx06: currently the easiest way would be to use `importaddress` to import the address as watch-only, and then use `omni_listtransactions`.

[2018-08-13 11:59] EdisonChen1024 commented on #613
@dexX7

It doesn't work! It only shows the transaction after import.
Is there any API can get an address‘s all transactions except the **omni_gettradehistoryforaddress** which return empty？

[2018-08-14 01:39] liuhuanhui commented on #726
@vetal20600
@dexX7

hi,I restart every time
Omnicored -conf=/data/.bitcoin/bitcoin.conf It scans and the scan is slow.

[2018-08-14 06:26] sybot99 commented on #712
dexX7
Thx ! Is there any possibility to decrease core size ? (I mean 200Gb+)

[2018-08-14 08:03] vetal20600 commented on #726
you can check debug.log for additional information

[2018-08-14 09:08] liuhuanhui commented on #726
@vetal20600  I have scanned it, I am trying to connect to rpc and I get an exception: Error: Starting network threads...

debug.log
[code]

[2018-08-14 09:13] vetal20600 commented on #726
try to remove
[code]
from config file.

[2018-08-14 09:29] jingming66 opened #729 "What's the difference between omni_send and omni_createpayload_simplesend?"
”https://github.com/OmniLayer/omnicore/wiki/Use-the-raw-transaction-API-to-create-a-Simple-Send-transaction“, I have seen。step 3 return null。

[2018-08-14 09:59] spursy opened #730 "I use "omni_gettransaction" get transaction detail, but i have the followed exception."
[code]

**i have use nodejs to request OminiLayer request.**

[2018-08-15 07:02] dexX7 commented on #730
Hi there, the help message is usually returned, when there is a parameter mismatch, e.g. you provide two, when only one is required.

Are you able to make calls without any parameter, e.g. "omni_getinfo"?

[2018-08-15 07:03] dexX7 commented on #729
Hi there,

- omni_send is a command to create, sign and broadcast a send transaction in one step
- omni_createpayload_simplesend is a command to create only the payload for a send transaction

[2018-08-15 07:04] dexX7 commented on #712
Hi @sybot99, currently unfortunately not.

[2018-08-15 07:29] dexX7 commented on #729
You can probably use omni_send directly, which is less hassle.

[2018-08-16 01:29] liuhuanhui commented on #726
Thank you, but there is no solution.

[2018-08-16 05:54] kocho opened #731 "Sync fails with Exception"
Trying to sync the omnicore, but it fails with an exception:
`EXCEPTION: N5boost16exception_detail10clone_implINS0_19error_info_injectorINS_9gregorian8bad_yearEEEEE
Year is out of valid range: 1400..10000
bitcoin in AppInit()
`

Using boost version:
`#define BOOST_LIB_VERSION "1_65_1"
`

[2018-08-16 06:14] vaenow opened #732 "Method not found ./omnicore-cli listunspent"
Hi guys,

I got `Method not found` when `./omnicore-cli listunspent`

[code]

#### omni_getinfo
[code]

Any advices?

[2018-08-16 13:51] wll2007 opened #733 "Use the raw transaction API to create a Simple Send transaction,but not ok"
![720523555163007795](https://user-images.githubusercontent.com/20220230/44212666-8c90ba80-a19e-11e8-8f2a-e52d0629f99d.png)
![1462624969690954](https://user-images.githubusercontent.com/20220230/44212671-90244180-a19e-11e8-9b2f-1b560a4524e7.png)
![250134716452889753](https://user-images.githubusercontent.com/20220230/44212677-931f3200-a19e-11e8-93bb-ff44baf91a81.png)

[2018-08-16 16:48] pabx06 commented on #613
importaddress cause the daemon to stop and
![image](https://user-images.githubusercontent.com/4013370/44222357-8392ef80-a184-11e8-9e16-caee4b1566a3.png)

my conf
[code]
i restarted it and now it is scanning the blocks is there an index to avoid rescanning at eatch new importaddress ?

[2018-08-17 01:03] wll2007 commented on #708
@zhlqee  now I have  a scene that same to your, how can you come true it ?

[2018-08-17 08:27] pabx06 opened #734 "EXCEPTION: N5boost10filesystem16filesystem_errorE Too many open files"
[code]

third time to try to lunch omnicored each time blocks are re-scanned (after i imported a bussy read only address)

it always starts with state none re-scan then error exit.

[2018-08-17 16:14] rebornsteven opened #735 "how to stop the AddToWallet action"
i used importaddress cmd, but now i want to stop importaddress, how can i do?

2018-08-17 16:13:41 AddToWallet d0673271eb0680da95ffacb023babdbba1d937e6ae170d87cb61af234c0b3898  new
2018-08-17 16:13:41 AddToWallet b70ef983bb3def264291b50773170be433a27c44769dc2ba1e81929c66216f9a  new
2018-08-17 16:13:41 AddToWallet 166e24ee3ee1b350d5dfc47e964c1d28599fec37b87a2d0c8ee27b8774e49e9a  new
2018-08-17 16:1

[2018-08-19 01:16] #732 closed

[2018-08-20 09:46] isLishude commented on #726
same with me. any solutions？

[2018-08-20 10:00] isLishude commented on #726
OmniVersion: 0.3.0

conf

[code]

log

[code]

[2018-08-20 12:18] liuhuanhui commented on #726
@isLishude 应该还没同步完成，完成就好了

[2018-08-20 12:18] #726 closed

[2018-08-21 01:49] spursy opened #736 "transaction data is wrong use "omni_send" method"
I send USDT transaction by **"omni_send"** method, after check out the data in block chain, I found transaction data is wrong.

For example,  I send **1.12 USDT** to other user, After checked transaction data in chain, the amout is **1 USDT.**

[2018-08-21 10:04] sgrmoharil commented on #589
Hi @dexX7, omni_funded_send is showing invalid method on Omni Core Wallet 0.3.0. Please help

[2018-08-21 10:15] sgrmoharil opened #737 "omni_funded_send invalid method omni core wallet 0.3.0"
I want to withdraw USDT from one address of wallet to outside address and use third address which is in same wallet to pay transaction fee. As per documentations we can use omni_funded_send method for the same. But wallet is showing it as Invalid method. Please help.

[2018-08-21 14:53] dexX7 commented on #736
Did you provide the amount as string?

[2018-08-21 14:53] dexX7 commented on #737
omni_funded_send is currently only available in the develop branch of this repository.

It's going to be released within two weeks though. :)

[2018-08-21 14:53] #737 closed

[2018-08-21 14:54] dexX7 commented on #732
How did you resolve this issue?

[2018-08-21 14:56] dexX7 commented on #731
Hi,

which version are you running? I think we fixed this in the develop branch.

[2018-08-21 14:59] dexX7 commented on #734
Hi @pabx06,

restart Omni Core with `./omnicored -startclean`. Transactions are then rescanned, but it should be fine.

You may as well try the develop branch, which improves the parsing speed and robustness of the process.

[2018-08-22 06:34] sgrmoharil commented on #737
Hi dexX7,

Thanks for the reply.  :)

[2018-08-23 00:38] sancome commented on #627
@DaveWK i have the same problem, did you solved it?

[2018-08-23 00:46] sancome commented on #627
@dexX7 i used the default options.

root@scan-usdt:/usdt_data# omni -datadir=/usdt_data -rpcbind=0.0.0.0 -rpcport=3001 -txindex -server -daemon -port=18333 -rpcworkqueue=128
Omni Core server starting
root@scan-usdt:/usdt_data# 2018-08-23 00:43:16 Initializing Omni Core v0.3.0 [main]
2018-08-23 00:43:16 Loading trades database: OK
2018-08-23 00:43:16 Loading send-to-owners database: OK
2018-08-23 0

[2018-08-23 04:27] sancome commented on #627
After the omni has been running for a while, the RPC has no response, and there is no way to normally end the process by "rpc stop". If i killed the process, there will be a long scanning process.

[2018-08-23 05:58] dexX7 commented on #627
Hi @sancome,

we've made massive progress in terms of stability and parsing speed in the last weeks. Are you able to run the develop branch of this repo?

[2018-08-23 05:59] dexX7 commented on #735
Hi @rebornsteven,

I'm not sure, if this process is stoppable. It's a one-time-process though.

[2018-08-23 05:59] #735 closed

[2018-08-23 13:34] sancome commented on #627
@dexX7 I will compile the develop version and try to run it, and then report back, thanks.

[2018-08-23 15:30] sybot99 opened #738 "How to create Tether wallet in Omni Core Win ?"
I download and update full Omni core. How to create Tether address here ?
As I understand the USDT address = BTC address

One more question. How to make backup of this USDT address ?

[2018-08-24 01:51] weitaolee commented on #731
No, I am running the develop branch,I got the same error

[2018-08-24 03:23] chenyunecjtu opened #739 "Sender has insufficient"
{"txid":"2606f381f7e7a9bab42b8c58378d4875f15b94864abb1f3c67efa1b740cdc92c","fee":"0.00090000","sendingaddress":"mxJToM6XgMqeBv5CNnDZQKAs1HYqDrQVdc","referenceaddress":"mpKpT6qLSfugijMkWf3hYx5Eji8b2vbvf5","ismine":true,"version":0,"type_int":0,"type":"Simple Send","propertyid":1,"divisible":true,"amount":"100.00000000","valid":false,"invalidreason":"Sender has insufficient balance","blockhash":"000

[2018-08-24 03:47] weitaolee commented on #731
I use boost 1.66 ,but I have got the same issue

[2018-08-24 04:04] weitaolee commented on #712
sync 30 days, and not full sync now

[2018-08-24 05:14] alesito85 commented on #739
Did you try the new method omni_funded_send or manually creating funded so that you can find token transfer from another account?

[2018-08-24 05:28] spursy opened #740 "assign other user to pay transaction fee"
when i send transaction, can I assign other user to pay transaction fee?

[2018-08-24 05:47] alesito85 commented on #383
I have issues using method omni_funded_sendall.

For example I have balance 7.7 propertyid 1 on one address and minimum BTC (546e-5). I'm funding from another address that has 5+ BTC balance and plenty of propertyid 1 (even though none is necessary). But whenever I try to transfer I get invalid reason "Sender has no tokens to send".

On top of that the method doesn't work at all if the from addres

[2018-08-24 06:08] chenyunecjtu commented on #739
@alesito85 use https://github.com/OmniLayer/omnicore/wiki/Use-the-raw-transaction-API-to-create-a-Simple-Send-transaction create raw transactions

[2018-08-24 06:13] alesito85 commented on #739
@chenyunecjtu did you try omni_funded_*?

[2018-08-24 06:25] alesito85 commented on #739
I am testing it on the develop branch. But am having issues with it... For some tokens at least on test network.

[2018-08-24 06:28] chenyunecjtu commented on #739
@alesito85
omni_createpayload_simplesend propertyid "amount"
omni_createrawtx_change "rawtx" "prevtxs" "destination" fee ( position )
omni_createrawtx_input "rawtx" "txid" n
omni_createrawtx_opreturn "rawtx" "payload"
omni_createrawtx_reference "rawtx" "destination" ( amount )

[2018-08-24 06:30] chenyunecjtu commented on #739
@alesito85 omni_funded_* while file can found?

[2018-08-24 06:31] alesito85 commented on #739
What do you mean? If you compile omnicore from develop branch you will have these methods available. You will also see them in wiki on develop branch.

[2018-08-24 06:39] chenyunecjtu commented on #739
@alesito85
omni_createpayload_simplesend propertyid "amount"
omni_createrawtx_change "rawtx" "prevtxs" "destination" fee ( position )
omni_createrawtx_input "rawtx" "txid" n
omni_createrawtx_opreturn "rawtx" "payload"
omni_createrawtx_reference "rawtx" "destination" ( amount )
above command , can create raw transaction, which one address has btc, one address has omni?
last omni_funded_*  have a li

[2018-08-24 06:41] alesito85 commented on #739
Here you go https://github.com/OmniLayer/omnicore/pull/728
But it appears there are quite a few issues. You can't send a master token (propertyid 1) unless you have sufficient BTC balance for fees on the withdrawing address. And you can't send any token unless you have at least some BTC balance on the withdrawing address.

[2018-08-24 06:58] chenyunecjtu commented on #739
@alesito85 in testnet ,how get usdt coins

[2018-08-24 07:00] alesito85 commented on #739
There is no USDT on testnet (as far as I know). But you can create your own token and test with that, I did it that way.

Use https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#omni_sendissuancemanaged

And then grant so that you can get yourself some other tokens. You can configure it the same way as USDT is configured.

[2018-08-24 07:02] chenyunecjtu commented on #739
@alesito85 thanks

[2018-08-24 07:02] alesito85 commented on #739
You're welcome

[2018-08-24 08:40] chenyunecjtu commented on #739
@alesito85 compile soucre code error,error: call to '__builtin_constant_p' is ambiguous.
where can download dev bin program?

[2018-08-24 08:56] alesito85 commented on #739
I don't think that binaries are available.

[2018-08-24 09:19] #739 closed

[2018-08-24 10:23] alexperl123 opened #742 "How to solve thi problem ?"
E:\omni>omnicored -datadir=./omnidata
: Disabled transaction index detected.

Omni Core requires an enabled transaction index. To enable transaction indexing,
 please use the "-txindex" option as command line argument or add "txindex=1" to
 your client configuration file within your data directory.

Configuration file: C:\omni\omnidata\bitcoin.conf

Would you like Omni Core to attempt to update yo

[2018-08-24 17:54] sonpython commented on #529
@dexX7 the `sendtoaddress` will auto unspent address to send testnet btc to `moneyqMan7uh8FqdCA2BV5yZ8qVrc9ikLP` no I can not specify the `<from address>` so we can not force the faucet from `moneyqMan7uh8FqdCA2BV5yZ8qVrc9ikLP` to tranfer TOMNI to correct address.

[2018-08-25 03:14] ric7ho opened #743 "Omnicore support of USDT / Tether"
Hi there,

I am a bit confused about the current status of USDT. I would like to confirm my understanding here.

Right after the November 2017 hack, Tether released its own omnicore fork https://github.com/tetherto/omnicore/releases/tag/0.2.99.s to freeze stolen funds. However, when syncing mainnet, this version fails at block height 499200 with error "Shutting down due to unsupported feature acti

[2018-08-25 06:17] dexX7 opened #745 "Building Omni Core 0.3.1 release"
Just for the reference and completness, so we're on the same level.

The previous steps are based on:
- https://github.com/OmniLayer/omnicore/blob/master/doc/gitian-building.md

Note: Omni Core 0.3.1 is based on Bitcoin Core 0.13.2, and uses a new container! Please create a new VM, if you haven't build 0.1.99 (dev version of 0.2.0) earlier!

If needed, refresh the inputs (from `~/gitian-builder`):

[2018-08-25 08:32] weitaolee commented on #731
2018-08-25 08:27:23 Omni Core handler: new confirmed transaction [height: 296163, idx: 709]

terminate called after throwing an instance of 'boost::exception_detail::clone_impl<boost::exception_detail::error_
info_injector<boost::gregorian::bad_year> >'
  what():  Year is out of valid range: 1400..9999
Aborted (core dumped)

[2018-08-25 11:42] eosclassicteam opened #747 "Please consider to catch up with upstream"

[2018-08-26 17:00] gjhk9983 opened #748 "Unable to transfer USDT! ! !"
![omni](https://user-images.githubusercontent.com/17015025/44630691-b0d36080-a92f-11e8-883a-2f2d507d6715.PNG)
Please check my screenshot carefully, my balance is very recharge, but it is always a -211 error, I have Google all the solutions, but the problem still can not be solved, I have to collapse

[2018-08-27 00:00] Chuseuiti opened #749 "RPC documentation for http request"
I couldnt find in the documentation what would be the correct format to perform the following omnicore-cli call over http:

command`: ./omnicore-cli omni_getproperty 1`
None of the following trials worked with GET nor POST, therefore I wonder what would be the correct endpoint:
[code]

[2018-08-27 01:38] Chuseuiti commented on #749
**Solution:** The syntax follows the bitcoin documentation and the format is the following:
Python example
`response= requests.post('http://localhost:8332/', auth=('test','test'), headers={'content-type':'text/plain'}, data='{"jsonrpc": "1.0",  "method": "omni_getproperty", "params": [1] }')`

Bitcoin jsonrpc documentation: https://en.bitcoin.it/wiki/API_reference_%28JSON-RPC%29

Let me know if th

[2018-08-27 01:51] #749 closed

[2018-08-27 02:11] liuhuanhui opened #750 "Where is the transfer fee deducted?"
Hello, if there is only usdt in one of my wallets, I want to go to another wallet. It happens that there is no btc in my wallet as a handling fee? Then what should I do? Is there any way to solve it?

[2018-08-27 02:48] rebornsteven commented on #735
@dexX7  thanks

[2018-08-27 08:42] lcgogo commented on #645
@jayphbee see https://api.omniexplorer.info/

[2018-08-27 14:29] sachnk commented on #743
+1

We're wondering the same thing. Any clarification would be appreciated!

[2018-08-27 21:59] achamely commented on #743
@ric7ho @sachnk the 'fork' that Tether released was an intermediary fork that was deprecated once Omni Core v.0.3.0 was released.
At this time you would want to use the latest version of Omni Core as it is has support for all the previous functionality

[2018-08-27 21:59] #743 closed

[2018-08-28 07:17] shiayoung commented on #748
The warning shows that your sending address does not have enough **BTC balance** to pay miner fee, not your USDT balance

[2018-08-28 08:49] shiayoung opened #751 "build a transaction from different vin both have tokens"
I have a address A, received tokens from 2 transactions(tx1 with 100 tokens, tx2 with 100 tokens). Now i want to combine them and send  to address B with 150 tokens, I know the new transaction's first input must be tx1 or tx2, but 100 tokens may be insufficient, where shoud I put remain 50 tokens?

[2018-08-28 09:58] song-tan opened #752 "omni_send with redeemaddress stuck transaction"
Hi there,
I am really stuck here, I was sending a 10000 usdt to another address and trying to utilise "redeemaddress" to pay for transaction fee. However, the transaction was created with very low fee. and now it couldn't get any confirmations. i am wandering there are any way i could get the transaction cancelled or change the transaction fee.
here is my transactions. [https://omniexplorer.info/s

[2018-08-28 14:28] letreset commented on #750
You can use these functions. These are avaible at 0.3.1
https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#omni_funded_send
https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#omni_funded_sendall

[2018-08-28 14:32] letreset commented on #740
#750 check this issue.

[2018-08-29 00:15] CrispinFlowerday opened #753 "USDT recovery from our bitgo wallet"
Hi,

I am  currently exploring how to recover USDT from our bitgo wallet, and was wondering if you had any guidance on the process. We are in control of the bitgo wallet, and bitgo have confirmed they would sign a transaction if we can pass it correctly.

An example that I'm attempting to recover is:

https://omniexplorer.info/tx/e067bd0e0e8fd51c22cbe83f143cbbd4951594b81d47259bca70bc79c5c5317b

I

[2018-08-29 03:32] LibraHan opened #754 "Omnicore socket timeout and cannot working anymore"
2018-08-28 20:32:34 UpdateTip: new best=000000000000000000291c7b13ba19b588036a3ef7030b96959493a793fcc335 height=538947 version=0x20000000 log2_work=89.553721 tx=337802740 date='2018-08-28 20:32:36' progress=1.000000 cache=409.8MiB(312765tx) warning='1 of last 100 blocks have unexpected version'
2018-08-28 20:46:14 UpdateTip: new best=000000000000000000041805f11f679cf7a501bf5d2a542bb7894a4c99b4ae1e

[2018-08-29 06:30] LibraHan opened #755 "Lost BTC transactions in OmniCore Wallet"
I've transferred some BTC to USDT address "1NNECJi9rm9DZJu92cLALdmCqQvPwwg4gF", all these transactions could be find in https://btc.com/1NNECJi9rm9DZJu92cLALdmCqQvPwwg4gF.
But in the omni core wallet, can only see three of them.
![image](https://user-images.githubusercontent.com/42793429/44769389-0a899400-ab97-11e8-9a48-f826aee0bb69.png)

And the result of the command "listunspent" is also not rig

[2018-08-29 07:00] LaoBan-ywcm commented on #501
@macrotea Have you salevd this problem?I have the same problem now

[2018-08-29 09:49] lixuegang opened #756 "omni_createrawtx_change"
com.googlecode.jsonrpc4j.JsonRpcClientException: 64: multi-op-return
help me...

[2018-08-29 11:59] ningfeng1982 commented on #613
![image](https://user-images.githubusercontent.com/40989218/44786163-d24d7a00-abc5-11e8-90aa-a8fd25034a14.png)
when i run this ,it says can't connet server? what should i do next?

[2018-08-30 02:11] vaenow commented on #732
recompile & restart, done

[2018-08-30 02:53] shiayoung commented on #751
Solved! The Omni Layer is balanced based. After tx1 and tx2 A has 200 tokens. As long as A is used as first input of the transaction, the send is valid. Thx @dexX7

[2018-08-30 02:53] #751 closed

[2018-08-30 07:11] initsysctrl opened #757 "omn​​i_getwalletaddressbalances is not work"
when i use "omni_getbalance" 、"omni_getallbalancesforaddress"、"omni_getallbalancesforid",is work normal.but when i use "omni_getwalletbalances" and "omni_getwalletaddressbalances",it return a empty list。what happen???!!
![](https://ws3.sinaimg.cn/large/006tNbRwgy1furqvp6xfoj312q06eq2x.jpg)

[2018-08-30 07:28] 437865981 opened #758 "how can i get the BTC balance of an address"
**omni_getallbalancesforaddress**  this command does not contains the BTC balance

[2018-08-30 07:43] qiao365 opened #759 "Omnicore can only get omni Transaction? Can I get btc Transaction?"
[code]
## but when I change the txid to btc txid，it error：

[code]
## how can I get omni transaction and btc transaction by omnicore-cli ?
## I use rpc walletnotify, bitcoin.conf as follows：

[code]

[2018-08-30 07:51] qiao365 commented on #758
omnicore-cli -conf=/Users/nevernew/var/data/omnidata/bitcoin.conf getbalance myNLUeNH7ud7hPrLrbyWc33L4nnqeTyySk

[2018-08-30 08:46] initsysctrl commented on #758
![](https://ws2.sinaimg.cn/large/006tNbRwgy1furtkh4oy9j30yq02ywem.jpg)
this method can get balance of account ,but no address。

[2018-08-30 09:59] initsysctrl opened #760 "Error choosing inputs for the send transaction"
When I was planning to send USDT, there was an error. I am sure my balance  of USDT&BTC is adequate.

[code]

[2018-08-30 14:37] martysyuk commented on #760
Got same problem... Waiting dev responce :)

[2018-08-31 02:29] weitaolee commented on #731
0.3.1 solved it

[2018-08-31 03:30] congnghiakhiem commented on #760
please try omni_send.

Example:

$ omnicore-cli "omni_send" "3M9qvHKtgARhqcMtM5cRT9VaiDJ5PSfQGY" "37FaKponF7zqoMLUjEiko25pDiuVH5YLEa" 1 "100.0"

https://github.com/OmniLayer/omnicore/blob/master/src/omnicore/doc/rpc-api.md#omni_send

[2018-08-31 03:37] congnghiakhiem commented on #759
You only can get the transaction belong to your wallet.

[2018-08-31 03:48] congnghiakhiem commented on #742
just add txindex=1 to your configuration file, then restart omnicored

[2018-08-31 08:02] AllenYaoya opened #761 "any full sync node that i can connect to test the RPC command?"
The sync in my local is very slow, i haven't completed the sync till now. so when i test some RPC command, i get no data back. is there any full sync node that i can connect to?  if anyone can tell me, i will appreciate that so much!

[2018-08-31 09:53] chenyunecjtu opened #762 "move rpc command"
"move \"fromaccount\" \"toaccount\" amount ( minconf \"comment\" )\n"
same wallet , only move btc ? can move usdt or other coin, need support

[2018-09-01 13:58] aghamir opened #763 "Light-mode client"
Hi
Is there any plan to include light client mode in omnicore?
Thanks a lot

[2018-09-02 03:01] jappktrunks commented on #540
@martyer narefund na po ba pera nyu? Parehas kc tau problema nag send din aq ng usdt sa coinsph

[2018-09-03 10:36] assionyang commented on #717
Have you solved it? I also encountered this problem.

[2018-09-03 17:56] josepajay commented on #717
@assionyang  I got this resolved by running Omnicore in a production machine which has 100+ gbs of ram and lots of processing power.

@dexX7 I did not  import new addresses. Also I was running the dev branch. (since I wanted the 2 omni rpc which was added in dev branch)

Initially I was running  omnicore in my personal workstation which has 16gb ram, intel i5. I was facing huge delays in rpc, more

[2018-09-03 23:44] assionyang commented on #717
@josepajay
Thank you very much. I'm trying it on a machine with 64G memory, but the omnicore synchronization node is really slow.

[2018-09-04 09:18] luongquocdinh opened #764 "Error choosing inputs for the send transaction - omni_funded_sendall"
I trying transfer USDT. I using  omni_funded_sendall, but it notify error.

Input:
``` omnicore-cli "omni_funded_sendall" "34r2krw2Vm2KRc2DphiKchh1s3gyYvubTv" "1L15WZANs2gBAtw54PJxFoBbjfhR3UCPb" 1 "1L15WZANs2gBAtw54PJxFoBbjfhR3UCPb" ```

Output:
[code]

Please help me

Thanks ^^

[2018-09-04 09:20] opteacher opened #765 "Use omni_send sending USDT with an unexpected BTC transaction to receiver"
Hello, our wallet is confusing by this problem. Our test members found during withdrawals. According to code, I called omni_send only to send transaction(Identified recharge address and fee). But sees there's two transactions has been sent. One of them is USDT, another is BTC with a strange amount.
https://omniexplorer.info/search/ec2b94cd6b784dd2f339f49ed0823ec9ab8f2837ae5eb0b315824f12babe05b3
ht

[2018-09-04 19:29] achamely commented on #765
@opteacher remember the Omni protocol is built on and uses the bitcoin blockchain when we encode and send an Omni Protocol transaction.
As such all Omni Protocol transactions need to be valid bitcoin transactions at their base, this includes the outputs of the tx having some amount of BTC associated with them (this is known as the reference amount).  By default the client uses a reference amount o

[2018-09-04 19:32] achamely commented on #762
@chenyunecjtu no, the move command is the native bitcoin-core command and does not work with the Omni protocol.
The only way to move an Omni protocol asset from address a to address b is to actually send it with omni_send or a similar omni blockchain transfer command

[2018-09-04 19:32] #762 closed

[2018-09-04 19:33] achamely commented on #742
@alexperl123 yup exactly what @congnghiakhiem said.
You need to have `txindex=1` in the config file

[2018-09-04 19:33] #742 closed

[2018-09-04 19:35] achamely commented on #758
@437865981 the client can query/return the Omni Protocol balance for any address however the btc balance information is still based on the bitcoin-core code we are built on. As such you can only get btc balance information for addresses in your wallet or imported into your wallet

[2018-09-04 19:35] #758 closed

[2018-09-04 19:54] achamely commented on #757
@initsysctrl  "omni_getbalance" 、"omni_getallbalancesforaddress"、"omni_getallbalancesforid" return balance information for any address in the ecosystem
"omni_getwalletbalances" and "omni_getwalletaddressbalances" ONLY return balance information for addresses in your Local Omni Core client wallet

[2018-09-05 01:54] initsysctrl commented on #757
@achamely yes,you are right. "omni_getwalletbalances" is only return balance from local.actually,i have not any token in my wallet.thanks

[2018-09-05 01:54] #757 closed

[2018-09-05 03:00] opteacher commented on #765
@achamely Thanks, I found the definition of lowFee, and removed it. I will test it and close the issue. Thanks again!

[2018-09-05 11:56] alesito85 commented on #760
@congnghiakhiem is there a problem with omni_funded_send? Because I'm having the same issue with omni_funded_sendall. The from address has a tiny amount of BTC balance but the funding address has a lot of BTC.

Any ideas about how to debug this?

[2018-09-06 01:25] krazedkrish commented on #760
My I software requires me to use only one address to store btc and the rest to to store usdt. Therefore I was hoping to use omni_funded_send instead of omni_send in json api, because if there are bitcoins missing from source address, they are taken from the specified fee source. But I am stuck with the same error message lik @initsysctrl .
The following was the output:

-- Request Method --
POST

[2018-09-06 02:26] #761 closed

[2018-09-06 04:27] initsysctrl commented on #760
@alesito85The method "omni_send" must need bitcoin in the sender, which is not recommended after version 0.3.1. Because I need the sole payer of the commission fee.but also thank you.

[2018-09-06 04:50] initsysctrl commented on #760
@krazedkrish  Now I have solved the problem. I'm sure I have the same problem as you, but I'm not sure the cause is the same. I found that the address I was using was not a shortage of bitcoin, but rather an address that was not generated by my wallet at all. First, I find a token at an address by "omni_getallbalancesforid," and then I use "omni_funded_send," and use "omni_send." Then, I use "vali

[2018-09-06 19:59] achamely commented on #765
@opteacher can you confirm you are using the most recent version of omni core (v0.3.1) that was released just over a week ago

[2018-09-07 01:32] hungdung1326 opened #766 "EXCEPTION while sync fullnode"
My fullnode was running smoothly then it got an exception called "St9bad_alloc" with an additional message "ProcessMessages(block, 253933 bytes) FAILED peer=5682".
I tried to restart the fullnode but after a while it still happened. Could someone explain this exception for me or tell me how to fix it please. Thank you very much.
P/s: In case i cannot fix it properly. May i find a public node to co

[2018-09-07 01:33] hungdung1326 commented on #766
@dexX7 please help me!

[2018-09-08 03:52] DengMins commented on #760
@initsysctrl I validated the address and made sure it was valid, but there were still the same mistakes as you. Why?

[2018-09-08 10:34] samueldeng commented on #760
which ridiculouly means that if there are not any btc in sendadress, it would be error.

@dexX7 But it's still a question that why the code is implemented by that?

wallettxbuilder.cpp: 231-234
[code]

[2018-09-10 03:16] jingming66 opened #767 "How to batch send usdt to a address？"
address  A have amount 10，address B have amount 20. How to batch send to address C？If not，I will create more than one tranaction，and I will pay too much fee.

[2018-09-10 07:00] opteacher commented on #765
@achamely We have updated the omni version and waiting for test result. Here an another problem. We have many users' account for accumlatting to our collection account, and use [this](https://github.com/OmniLayer/omnicore/wiki/Use-the-raw-transaction-API-to-create-a-Simple-Send-transaction) method to implement. But the node pointed out the error message "66: insufficient priority". I searched for

[2018-09-10 07:05] opteacher commented on #765
A new withdrawal result has outputted, miner fee: 0.00001285, amount: 0.00001445. Sees already no problem, Thank you @achamely

[2018-09-10 13:51] achamely commented on #760
@samueldeng The Omni Protocol spec stats that the 'sender' of a transaction is the address associated with the first utxo in that transaction.
This means that regardless of where the additional btc is sourced from for miner fee's etc.  the very first utxo must come from the address the funds are being sent/transferred from .
If that address has no btc/utxos, then it is impossible to create a valid

[2018-09-11 06:58] miran456852 commented on #484
Hi Jinglics，do you solve this problem？

[2018-09-11 06:58] miran456852 commented on #484
I see the same problem

[2018-09-11 07:33] dexX7 commented on #745
Done: https://github.com/OmniLayer/omnicore/releases/tag/v0.3.1

[2018-09-11 07:33] #745 closed

[2018-09-11 08:03] dexX7 commented on #739
@chenyunecjtu: binaries are available here:

https://github.com/OmniLayer/omnicore/releases

[2018-09-11 08:05] dexX7 commented on #758
Hi @437865981,

you could list all available coins by using `omnicore-cli listunspent`.

[2018-09-11 08:06] dexX7 commented on #761
Hi there,

are you running the latest version?

[2018-09-11 08:06] dexX7 commented on #484
Hi @miran456852, can you please check your system's clock? Which OS are you running?

[2018-09-11 08:10] miran456852 commented on #484
CentOS Linux release 7.4.1708 (Core)，and how to set up system clock？my time zone is as/shanghai

[2018-09-11 10:04] gggin commented on #712
I use digitalocean and I found that no cpu or disk or RAM is in the limit.
So Maybe sth is wrong? or Just one process cannot use all CPU?

[2018-09-12 04:28] kmacblad opened #770 "TetherUS - USDT support?"
We are game developer. Now we want to receive & send TetherUS - USDT (Omni Layer Protocol) coin between diff account addess.
Can I use your library & apis to do this ?

Thanks for your support

[2018-09-12 06:01] jorise7 commented on #767
+1

[2018-09-12 08:08] CodeForcer opened #771 "Best practices for offline signing"
I would like to use an online computer with no private keys to prepare a transaction, and then sign the transaction using an offline computer. Finally the signed transaction is brought to the online computer for broadcast to the network.

What is the best practices way of doing this using Omnicore? Is it possible?

[2018-09-13 01:43] gggin commented on #500
Problem is still here
# ./omnicore-cli -datadir=data getinfo
{
  "version": 130200,
  "protocolversion": 70015,
  "walletversion": 130000,
  "balance": 1.01685611,
  "blocks": 1413228,
  "timeoffset": 0,
  "connections": 12,
  "proxy": "",
  "difficulty": 56234572.68927951,
  "testnet": true,
  "keypoololdest": 1536576702,
  "keypoolsize": 100,
  "paytxfee": 0.00000000,
  "relayfee": 0.00001000,

[2018-09-13 17:57] alesito85 commented on #760
@achamely I have a situation where I have BTC in the send address (the minimum that I got when I received tokens) and there doesn't seem to be any way to use omni_funded_send or omni_funded_sendall. I always get "Error with selected inputs for the send transaction". The fee address does have BTC balance that is sufficient for tx.
How to go ahead from here?

[2018-09-13 19:14] bitcoincapitalcorp commented on #731
I have a fresh install of omnicored 0.3.1 and am still having this issue.

[2018-09-14 06:38] #765 closed

[2018-09-14 13:50] AllenYaoya commented on #761
Hello,

I have synced all the data. It takes nearly a week. Everything is ok now!

Thanks,

[2018-09-19 01:46] shiayoung commented on #767
A transaction only include one sender(even there may be more inputs) and one receiver, so cannot to combine diffrent address tokens to make a batch send in a transaction.

[2018-09-19 01:49] shiayoung commented on #770
Of course you can, TetherUS(USDT) is based on omni layer which property id is 31. https://omniexplorer.info/asset/31

[2018-09-19 14:26] achamely commented on #771
@CodeForcer that guide is the way to do it.
You can use BTC from other addresses to cover any missing btc needed however you will need to have at least 1 input (the first one in the input list) be from the address that is sending the Omni Protocol token. This is a protocol requirement on how the 'sender' is identified.

[2018-09-19 14:29] achamely commented on #760
@alesito85 what are the 2 addresses you are using and the omnicore-cli command you are trying?
What is the output of `omnicore-cli getinfo`
Also can you post the output from `omnicore-cli validateaddress <youraddress>` for each of the addresses you are trying to send from / use as funding source

[2018-09-19 18:45] johnsneakers opened #774 "what is wrong with "omni_createrawtx_opreturn" ???"
i use this cmd in omni-cli:
omnicore-cli "omni_createrawtx_opreturn" "0100000001e1543b463545903dbb6c4212c3bf0e28b9632f0228922035c5350a24e18cf5450000000000ffffffff0000000000" "00000000000000020000000002625a00"

I can send transaction succ.

but i use json rpc, I pass the same parameters，it return err : payload must be hexadecimal string (not '"00000000000000020000000002625a00"'). i had read api doc

[2018-09-19 18:45] johnsneakers commented on #774
@dexX7  Hi bro, can you help me?

[2018-09-19 19:10] CrispinFlowerday commented on #753
Closing this - we have resolved this issue.

[2018-09-19 19:10] #753 closed

[2018-09-19 20:17] #774 closed

[2018-09-20 01:48] zhlqee opened #775 "Problems with synchronization on Amazon server"
Hi,
    When I synchronized to December 15, 2015, the nodes stopped synchronizing, and there were many server denial problems in the debug. log file. I tried to restart the node service, but it began to resynchronize in March 2014. I also seem to have found exception information in the debug. log file, specifically EXCEPTION: St9bad_alloc std:: bad_alloc bitcoin in Process Messages (). What causes

[2018-09-20 06:35] zhlqee commented on #775
![image](https://user-images.githubusercontent.com/26194099/45800007-0f4aef00-bce2-11e8-8f94-b1b9f42ea2e0.png)
A lot of servers refuse to connect now.

[2018-09-20 08:30] cemkod opened #776 "Is omnicore affected by CVE-2018-17144 ?"
A critical vulnerability is affecting bitcoin-core based wallets. Is Omni affected? When will there be an update?

https://nvd.nist.gov/vuln/detail/CVE-2018-17144

Bitcoin Core 0.14.x before 0.14.3, 0.15.x before 0.15.2, and 0.16.x before 0.16.3 and Bitcoin Knots 0.14.x through 0.16.x before 0.16.3 allow a remote denial of service (application crash) exploitable by miners via duplicate input. An a

[2018-09-20 15:52] santos177 commented on #733
You are putting 31  BTC in the last argument of  omni_createrawtx_reference:  the optional reference amount (minimal by default) . I think this cause de problem, take of this number and try again.

Arguments of omni_createrawtx_reference :

 "1. rawtx                (string, required) the raw transaction to extend (can be null)\n"
 "2. destination          (string, required) the reference address

[2018-09-20 16:53] santos177 commented on #756
Can you give us more details?

[2018-09-21 01:32] zhlqee commented on #775
![wx20180921-092712](https://user-images.githubusercontent.com/26194099/45855137-3dcbd700-bd81-11e8-80a8-2f935abcbd0d.png)
@dexX7

[2018-09-22 11:16] ozanyurt commented on #776
@dexX7 tweet about it.
Omni Core, @Omni_Layer's reference client, is unaffected by CVE-2018-17144. If you are running v0.3.1, no action is required and you are good to go.

https://twitter.com/dexx7y/status/1042305249808195586
It is not affected.

[2018-09-22 13:55] rupsyde commented on #764
Did you solve the problem? I have the same problem and omni_funded_send also does not work ...
BTC on feeaddress are definitely there.

[2018-09-22 14:03] rupsyde commented on #760
Have same problem.
All address
"isvalid": true,
"ismine": true

feeaddress have alot of BTC, but i still have error: -212 Error choosing inputs for the send transaction

[2018-09-22 17:49] alesito85 commented on #760
The address has been verified and was valid and mine. What helps though is restarting the omnicored node. Strange, but it does... I've had plenty of balance everywhere and it didn't work. But when I've restarted the node the transactions were possible. And this was done multiple times.

[2018-09-24 02:28] luongquocdinh commented on #764
@rupsyde You can check again.
- You open 2 tab terminal. 1 tab check log, 1 tab run omni_funded_sendall
- Log: ~/.bitcoin. Right i want you to run  tail -f omnicore.log  then i want you to run the omnicore-cli "omni_funded_send" ... command again.

Or maybe your address is not valid. Yoi can check: `omnicore-cli validateaddress "1qyQ1GYsst1tyLHaqJWmcx1s4N7ESu85n"`. If `"ismine": true` your address

[2018-09-24 08:13] ZebPayDhruvil opened #777 "Failed to start"
Omnicore is failing to start , I get killed message after few seconds of startup

`2018-09-24 08:11:51 Omni Core version v0.3.0
2018-09-24 08:11:51 InitParameterInteraction: parameter interaction: -whitelistforcerelay=1 -> setting -whitelistrelay=1
2018-09-24 08:11:51 Default data directory /home/ubuntu/.bitcoin
2018-09-24 08:11:51 Using data directory /blockchain/usdt/
2018-09-24 08:11:51 Using c

[2018-09-24 14:36] dexX7 commented on #589
Please let me know, if you need more help. Until then, I'm going to close this issue.

[2018-09-24 14:36] #589 closed

[2018-09-24 14:36] dexX7 commented on #627
Awesome! Please let me know, if you need more help. Until then, I'm going to close this issue.

[2018-09-24 14:36] #627 closed

[2018-09-24 14:37] dexX7 commented on #738
Hi,

you can go to the "receive" tab and then generate a new address. It's correct: Omni uses Bitcoin addresses and they can be backed up as regular addresses. In this case, you could backup your wallet via the file menu.

Please let me know, if you need more help. Until then, I'm going to close this issue.

[2018-09-24 14:37] #738 closed

[2018-09-24 14:38] dexX7 commented on #383
I think there is a misunderstanding:

Tokens are only spent from the very first address.

This is expected, because at least some BTC is needed.

[2018-09-24 14:39] dexX7 commented on #747
I agree, this would be very useful. So far there is no plan to address this though.

[2018-09-24 14:39] #747 closed

[2018-09-24 14:41] dexX7 commented on #748
Please see:

https://github.com/OmniLayer/omnicore/wiki/Why-do-I-need-bitcoin-to-create-Omni-transactions%3F

Please let me know, if you need more help. Until then, I'm going to close this issue.

[2018-09-24 14:41] #748 closed

[2018-09-24 14:42] dexX7 commented on #752
Hi Song,

the redeem address is is used for bare-multisig encoding. This is usually not the case.

I see your transaction went through though. :)

[2018-09-24 14:42] #752 closed

[2018-09-24 14:43] dexX7 commented on #740
Thanks @letreset. This is correct, see:

https://github.com/OmniLayer/omnicore/wiki/Is-it-possible-to-pay-transaction-fees-from-a-different-source%3F

Please let me know, if you need more help. Until then, I'm going to close this issue.